---
layout: default
title: LED導入オンラインセミナー

---
<div class="cta-section">
<a href="https://book.squareup.com/classes/2xiian6x1y2hf4/location/LQ1P1NDZ9HJ6J/classes" target="_blank" rel="noopener" class="cta-click" data-seminar="LED導入オンラインセミナー">
<span><i class="fa-solid fa-pen-to-square" aria-hidden="true"style="margin-right: 10px;"></i>セミナーに申し込む</span></a>
</div>

<div class="key-visual">
<img class="slide-img pc-show" src="../img/seminar/lashlift-basic-kv__pc.jpg" alt="LED導入オンラインセミナーのメインビジュアル">
<img class="slide-img sp-show" src="../img/seminar/lashlift-basic-kv__sp.jpg" alt="LED導入オンラインセミナーのスマートフォン用メインビジュアル">
<div class="slogan">
<p class="main-slogan">LED導入オンラインセミナー</p>
<p class="sub-slogan">
LED施術を、正しい知識と技術で自信を持って使えるように。</p>
</div>
</div>

<!--course-recommended -->
<div class="course-recommended">
<p class="section-title">Seminar Summary<span>セミナー概要</span></p>
<div class="course-recommended-inner">
<p>LEDの仕組みやグルーの基礎知識から、ライトの選び方・扱い方、照射位置や距離、装着時のポイントまで、LEDの施術に必要な知識と技術を基礎から丁寧に解説します。
「導入したけれど、これで合っているのかわからない」という方にも、施術の疑問や不安を一つひとつ解消し、明日からのサロンワークに活かせるセミナーです。</p>
</div>
</div>

<!--course-recommended -->
<div class="course-recommended">
<p class="section-title">RECOMMENDED<span>こんな方におすすめ</span></p>
<div class="course-recommended-inner">
<li><img src="../img/icon/check-icon.png" alt="チェックアイコン">LEDの知識がなく、導入を悩んでいる</li>
<li><img src="../img/icon/check-icon.png" alt="チェックアイコン">導入したけれど、施術のコツがつかめない</li>
<li><img src="../img/icon/check-icon.png" alt="チェックアイコン">商材が多く、どれを選べばいいか分からない</li>
<li><img src="../img/icon/check-icon.png" alt="チェックアイコン">LEDグルーがうまく硬化せず、仕上がりに自信がない</li>
<li><img src="../img/icon/check-icon.png" alt="チェックアイコン">お客様へのメリットや勧め方が分からない</li>
<li><img src="../img/icon/check-icon.png" alt="チェックアイコン">LEDメニューをサロンに導入・定着させたい</li>
</div>
</div>

<!--course-recommended -->
<!-- 
<div class="course-recommended">
<p class="section-title">COURSE BENEFITS<span>受講メリット</span></p>
<div class="course-recommended-inner">
<div class="co-dis-section">
知識不足による"なぜ？"や"失敗"をゼロにし、<br>
まつ毛の状態を見極め、ダメージを最小限に抑えるための判断基準となる、<br>
ブランド名に頼らなくてもあなた自身の「腕」でお客様を呼べる一生モノの技術。
</div>
</div>
</div>
-->

<!--course-benefits -->
<div class="course-benefits">
<p class="section-title">COURSE BENEFITS<span>受講メリット</span></p>
<ul class="course-benefits-inner">

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_01.png" alt="POINT 01">
</div>
<img src="../img/seminar/led-extension-online/point01.jpg" alt="LED施術の様子">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">安定したLED施術を習得</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_02.png" alt="POINT 02">
</div>
<img src="../img/seminar/led-extension-online/point02.jpg" alt="講師が説明している様子">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">自信を持ってお客様へ提案できる</p>
</div>
</li>


<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_03.png" alt="POINT 03">
</div>
<img src="../img/seminar/led-extension-online/point03.jpg" alt="オンライン講習の様子">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">LEDの仕組みと特徴を正しく理解できる</p>
</div>
</li>


<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_04.png" alt="POINT 04">
</div>
<img src="../img/seminar/led-extension-online/point04.jpg" alt="商材がたくさん並んでいる写真">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">自分に合った商材を選べるようになる</p>
</div>
</li>


</ul>
</div>




<!--course-curriculum -->
<div class="course-curriculum">
<div class="course-curriculum-inner">
<p class="section-title">CURRICULUM<span>コース内容</span></p>
<div class="course-curriculum-title">
LED導入オンラインセミナー
</div>
<div class="course-curriculum-info" style="justify-content: center;">
<div>
<span>受講対象者</span>
美容師資格をお持ちの方・Foulaアカウントで購入履歴がある方
</div>
<div>
<span>キットなし</span>
<p class="course-curriculum-price">¥19,800</p>
</div>
</div>

<div class="course-curriculum-index">
<div class="course-curriculum-index-section">
<div class="lectures">
<div class="course-curriculum-index-title">
座学 / 2時間
</div>
<ul>
<li>・LEDラッシュとは</li>
<li>・LEDの歴史</li>
<li>・LED導入メリット</li>
<li>・LEDの安全性</li>
<li>・LEDグルーについて</li>
<li>・LEDライトについて</li>
<li>・施術</li>
<li>・安全な施術のために</li>
<li>・LED初期導入</li>
</ul>
</div>
<div class="practical">
<div class="course-curriculum-index-title">
実技 / 30分
</div>
<ul>
<li>・ライト４種の装着方法</li>
</ul>
</div>
</div>







<div class="diploma-area">
<div class="course-curriculum-index-title">
出席証発行
</div>
<img src="../img/seminar/diploma.png" alt="LED導入オンラインセミナーの出席証発行サンプル" class="diploma">
<p style="text-align: center; color: #696969;">※画像はサンプルです</p>
</div>


<div class="course-curriculum-index-title">
当日お持ちいただくもの
</div>
<ul class="bring-today-area-text">
<li>・筆記用具</li>
</ul>


<div class="request-sentence">
<p class="rs-title">事前のご準備について</p>
<div class="request-sentence-dis">
講習前にテキストをお送りしますのでお手元にご準備ください。
</div>

<div class="request-sentence">
<p class="rs-title">ご受講される皆さまへお願い</p>
<div class="request-sentence-dis">
<b>【Teamsの登録】</b><br>
Teamsアプリのご準備をお願いいたします。<br>
<span style="color: #352B24;">Microsoft Teamsでセミナーを行います。<br>
スマートフォンでのご参加を推奨しております。<br>
下記より事前にアプリをダウンロードの上、会議IDとパスコードでの入室をお願いいたします。<br>
参加ボタンを押してくださいますようお願いいたします。<br><br>

▶︎ iPhone/iPad：<br>
<a href="https://apps.apple.com/jp/app/microsoft-teams/id1113153706"
target="_blank">https://apps.apple.com/jp/app/microsoft-teams/id1113153706</a>
<br><br>

▶︎ Android：<br>
<a href="https://play.google.com/store/apps/details?id=com.microsoft.teams"
target="_blank">https://play.google.com/store/apps/details?id=com.microsoft.teams</a>
<br><br>

テキストは1週間前にご登録住所へ発送予定です。 <br>
発送後、追跡番号をメールにてお知らせいたします。<br>内容をご確認のうえ、お手数ですが「確認済み」とご返信をお願いいたします。</span><br><br>

開始10分前に入室をお願いいたします。<br>
開始10分以上の遅刻は途中参加扱いとなります。<br>
<span style="color: #352B24;">始まる前に余裕をもってお越しください。<br>
特に他の受講者の進行にも影響いたしますので、ご理解とご協力をお願いいたします。<br>
万が一、遅れる場合は<a href="tel:0364277797">03-6427-7797</a>までご連絡ください。<br>
</span><br><br>
<b>【キャンセルポリシー】</b><br>
キャンセルは2週間前までにご連絡ください。<br>
1週間過ぎたキャンセルの際、キャンセル手数料（3,000円）が発生いたします。<br>
<span style="color: #352B24;">※日程変更は1回までとさせていただきます。</span>
</div>
</div>
<p class="rs-title">受講条件</p>
<div class="request-sentence-dis">
<span style="color: #352B24;">
・美容師免許をお持ちの方<br>
・Foulaアカウントをお持ちで、過去にFoula Storeでのご購入履歴がある方<br><br>

※お申し込みの際は、Foulaアカウントに登録されているお名前・電話番号・メールアドレスと同じ情報をご入力ください。
※登録情報およびご購入履歴が確認できない場合は、お申し込みをキャンセルさせていただく場合がございます。</span>
</div>
</div>
</div>

</div>
</div>




{% include schedule.html %}
{% include contact.html %}

<!--access-section -->
<div class="location-section" id="ACCESS">
<p class="section-title">ACCESS<span>会場アクセス</span></p>
<div class="location-section-inner">
<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラエステティックアカデミー 東京校</p>
〒150-0001<br>
東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
渋谷駅B1出口より徒歩2分<br>
</p>
</div>
</div>

<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.0463996531103!2d135.4976533542927!3d34.70283924635157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6eb4339cd61%3A0xf0cd1087ed547c75!2z44OV44O844Op44K544OI44Ki5aSn6Ziq5qKF55Sw5bqX!5e0!3m2!1sja!2sjp!4v1740557042126!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラストア大阪梅田店</p>
〒530-0051<br>
大阪府大阪市北区太融寺町８−１０ 梅田高速ビル 4階<br>
御堂筋線梅田駅より徒歩7分<br>
</p>
</div>
</div>
<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26589.433174738002!2d130.39666100000002!3d33.587679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35419122d7b846fd%3A0x4cf20931c5d12b8b!2z44OV44O844Op44K544OI44Ki56aP5bKh5aSp56We5bqX!5e0!3m2!1sja!2sjp!4v1746768724916!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラストア福岡天神店</p>
〒810-0023<br>福岡市中央区警固1丁目6-56 サウスガーデン4F 401A<br>
西鉄福岡天神駅北口 / 地下鉄天神駅から徒歩10分<br>
</p>
</div>
</div>
</div>
</div>






<div class="course-schedule">
{% include magazine_others.html %}
</div>
