---
layout: default
title: ロッド不安ゼロ！ロッド攻略デザインセミナー
---

<div class="cta-section">
<a href="https://www.foula-store.jp/p/search?keyword=%E3%80%90FEA%E3%80%91901-3" target="_blank" rel="noopener" class="cta-click" data-seminar="Lash Liftロッドデザインマスターコース">
<span><i class="fa-solid fa-pen-to-square" aria-hidden="true"style="margin-right: 10px;"></i>セミナーに申し込む</span></a>
</div>

<div class="key-visual sem901-3">
<img class="slide-img pc-show" src="https://as1.ftcdn.net/v2/jpg/03/76/51/36/1000_F_376513690_RtgvgMRQ1ygMGND6sFU4lShckCo4gbJy.jpg" alt="">
<img class="slide-img sp-show" src="../img/seminar/kv-901_3_sp.jpg" alt="">
<div class="slogan">
<p class="main-slogan">ロッド不安ゼロ！<br>ロッド攻略デザインセミナー<span></span></p>
<!-- <p class="sub-slogan"></p> -->
</div>
</div>



<!--course-recommended -->
<div class="course-recommended">
<p class="section-title">RECOMMENDED<span>こんな方におすすめ</span></p>
<div class="course-recommended-inner">
<li><img src="../img/icon/check-icon.png" alt="">ロッドを外す瞬間不安がある方</li>
<li><img src="../img/icon/check-icon.png" alt="">まつ毛が上がりにくい「一重・奥二重」のお客様を断ってしまう方</li>
<li><img src="../img/icon/check-icon.png" alt="">施術時間が長く、回転率が上がらない方</li>
<li><img src="../img/icon/check-icon.png" alt="">なんとなくロッドを選んでいる方</li>
<li><img src="../img/icon/check-icon.png" alt="">集客を伸ばしたい方</li>
<li class="course-recommended-attention" style="font-size: 14px;">※ブランクがある方は<a href="https://www.foula-academy.com/seminar/lashlift-basic.html" style="
    display: contents;
">Basic</a>のご受講をおすすめします。</li>
</div>
</div>

<!--course-recommended -->
<!--
<div class="course-recommended">
<p class="section-title">COURSE OVERVIEW<span>セミナー概要</span></p>
<div class="course-recommended-inner">
<div class="co-dis-section">
ロッドを外す瞬間、いつも祈るような気持ちで鏡を見ていませんか？<br>

「上がりすぎていないか」「毛先がチリついていないか」「左右差は大丈夫か」……。<br>

もし今、あなたが施術中にそんな不安を感じているとしたら、<br>
それはあなたのセンスのせいではありません。<br>

ただ、技術と理論がまだ一本の線で繋がっていないだけです。<br><br>

私たちのセミナーには、すでに他校で学んだ現役アイリストの方々が、<br>
全国から「学び直し」に来られています。<br>
その理由は、ブランドの華やかさではなく、<br>「なぜ上がるのか」「なぜ失敗するのか」<br>という本質的なロジックを徹底的に言語化してお伝えしているからです。<br><br>

■お客様の「こうなりたい」という抽象的な言葉を、<br>
どのロッドを使うべきかという具体的な「正解」へ、迷わず選定できるようになります。<br><br>
■ 膨大なロッドの中から、目の形や毛質に合わせて<br>
「これしかない」という一択を根拠を持って選定できる力が身につきます。
</div>

</div>
</div>
-->


<!--course-benefits -->
<div class="course-benefits">
<p class="section-title">COURSE BENEFITS<span>コースの詳細</span></p>
<ul class="course-benefits-inner">
<li class="course-benefits-index">

<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_01.png" alt="">
</div>
<img src="../img/seminar/901-3/cb02.jpg" alt="ロッド迷子を卒業、100通りの選択肢を、たった1つの正解へ">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">ロッド迷子を卒業、100通りの選択肢を、たった1つの正解へ</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_02.png" alt="">
</div>
<img src="../img/seminar/901-3/cb03.jpg" alt="リピート率向上を目指す施術トレーニング風景">
</div>

<div class="course-benefits-index-text">
<p class="benefits-title">曖昧なカウンセリングを論理的なロッド選定に変換。</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_03.png" alt="">
</div>
<img src="../img/seminar/901-3/cb06.jpg" alt="スキルアップを目指すアイリストのための実技練習">
</div>

<div class="course-benefits-index-text">
<p class="benefits-title">まぶたを「見る」だけで、使うべきロッドが自動的に決まる</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_04.png" alt="">
</div>
<img src="../img/seminar/901-3/cb01.jpg" alt="新メニュー追加でサロンの魅力を高める提案風景">
</div>

<div class="course-benefits-index-text">
<p class="benefits-title">「上がらなかったらどうしよう」という不安が、確信に変わる</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_05.png" alt="">
</div>
<img src="../img/seminar/901-3/cb07.jpg" alt="ブランクのある方をサポートする再スタート向け講習風景">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">根元 1mmの立ち上がりにこだわる、本当の巻き上げ術</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_06.png" alt="">
</div>
<img src="../img/seminar/901-3/cb05.jpg" alt="ブランクのある方をサポートする再スタート向け講習風景">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">少人数制「小さな疑問」も、その場ですぐに解消</p>
</div>
</li>
</ul>
</div>

<!--course-curriculum -->
<div class="course-curriculum">
<div class="course-curriculum-inner">
<p class="section-title">CURRICULUM<span>コース内容</span></p>
<div class="course-curriculum-title">
<span>オンライン</span>ロッド不安ゼロ！<br>ロッド攻略デザインセミナー 
</div>
<div class="course-curriculum-info">
<div>
<span>受講対象者</span>
美容師資格をお持ちの方
<span class="terms">※エクステ・ラッシュリフトの基礎施術が可能な方</span>
</div>
<div>
<span>キットあり</span>
<p class="course-curriculum-price">￥35,200</p><br>
<span class="adv">上まつ毛BASICコース受講者</span>
<p class="course-curriculum-price adv">¥28,600</p>
</div>

</div>
<div class="course-curriculum-index">
<div class="course-curriculum-index-section">
<div class="lectures" style="width: 100%;">
<div class="course-curriculum-index-title">
座学 デザインカウンセリング / 3時間
</div>
<ul style="padding-left: 25px;">
<li>・失敗しない巻き上げ術
<!-- <p>成分や作用を理解し、適切に使用するための基礎知識を学ぶ。</p> -->
</li>
<li>・一重、奥二重、二重のロッド選定
<!-- <p>施術時のリスクを防ぎ、安全で確実な技術を習得する。</p> -->
</li>
<li>・注意したい6タイプの目のロッド選定
<!-- <p>毛の構造を学び、適切な施術を行うための基礎知識。</p> -->
</li>
<li>・Citeロッドの選び方、説明、ビフォー・アフターのご紹介
<!-- <p>正確で美しい仕上がりを実現するための基本技術。</p> -->
</li>

</ul>
</div>

</div>
</div>

<div class="diploma-area">
<div class="course-curriculum-index-title">
ディプロマ発行
</div>
<img src="../img/seminar/diploma.png" alt="" class="diploma">
<p style="text-align: center; color: #696969;">※画像はサンプルです</p>
</div>

</div>

</div>

{% include schedule.html %}
{% include contact.html %}


<!--access-section -->
<!--
<div class="location-section" id="ACCESS">
<p class="section-title">LOCATION</p>
<div class="location-section-inner">
<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラエステティックアカデミー 東京校</p>
〒150-0001<br>
東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
渋谷駅B1出口より徒歩2分<br>
</p>
</div>
</div>

<div class="location-section-content">
<div class="location-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.0463996531103!2d135.4976533542927!3d34.70283924635157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6eb4339cd61%3A0xf0cd1087ed547c75!2z44OV44O844Op44K544OI44Ki5aSn6Ziq5qKF55Sw5bqX!5e0!3m2!1sja!2sjp!4v1740557042126!5m2!1sja!2sjp" class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラストア大阪梅田店</p>
〒530-0051<br>
大阪府大阪市北区太融寺町８−１０ 梅田高速ビル 4階<br>
御堂筋線梅田駅より徒歩7分<br>
</p>
</div>
</div>
</div>
</div>
-->




<!--faq-section -->
<div class="faq-section" id="FAQ">
<p class="section-title">FAQ</p>
<div class="faq-section-inner">
<div class="faq-section-index">
<p class="question">Q.ベーシックを受けましたが、アドバンスを受けたほうがいいですか？</p>
<div class="answer">
アドバンスコースでは、基本的な巻き上げができるもののうまくいかない、<br>
目の形やまつ毛の長さに合ったデザインが提案できないといった、より細かいお悩みを解決いたします。<br>
ロッド選定の方法や似合わせ方を学ぶことで、ラッシュリフトのデザインの幅が広がります。
</div>
</div>

<div class="faq-section-index">
<p class="question">Q.ベーシックコースを受けないとできませんか？</p>
<div class="answer">
他社のラッシュリフトセミナーを受講された方や、すでにラッシュリフトの施術を行っている方は、ベーシックコースを受講せずにアドバンスコースをご受講いただけます。<br>
ただし、軟化や酸化の見極め方や巻き上げ方に不安がある場合は、ベーシックコースの受講をおすすめいたします。
</div>
</div>

<div class="faq-section-index">
<p class="question">Q.どのようなデザインを学べますか？</p>
<div class="answer">
リフトアップデザインやカールデザイン、Lカールなど、Citeロッドを使用したすべてのデザインを学ぶことができます。
</div>
</div>

</div>
</div>


<div class="course-schedule">
{% include magazine_others.html %}
</div>



