---
layout: default
title: 技術スキルチェック【実技】 ～不安解消!!自信を持てるアイリストに～
---

<div class="key-visual">
<img class="slide-img pc-show" src="../img/seminar/kv-108.jpg" alt="">
<img class="slide-img sp-show" src="../img/seminar/kv-108_sp.jpg" alt="">
<div class="slogan">
<p class="main-slogan">技術スキルチェック</p>
<p class="sub-slogan">～不安解消!!自信を持てるアイリストに～</p>
</div>
</div>



<!--course-recommended -->
<div class="course-recommended" style="padding-bottom: 75px;">
<p class="section-title">RECOMMENDED<span>こんな方におすすめ</span></p>
<div class="course-recommended-inner">
<li><img src="../img/icon/check-icon.png" alt="">技術に不安のある方、見直したい方</li>
<li><img src="../img/icon/check-icon.png" alt="">FEAのセミナーを受けて時間が経った方</li>
</div>
</div>



<!--course-curriculum -->
<div class="course-curriculum">
<div class="course-curriculum-inner">
<p class="section-title">CURRICULUM<span>コース内容</span></p>
<div class="course-curriculum-title">
<span>108</span>技術スキルチェック【実技】
<br><span class="little-text">【～不安解消!!自信を持てるアイリストに～】</span>
</div>
<div class="course-curriculum-info">
<div>
<span>受講対象者</span>
美容師資格をお持ちの方
</div>
<div>
<span class="little-text">費用</span>
<p class="course-curriculum-price">¥11,000</p>
</div>
</div>
<div class="course-curriculum-info">
<div>
<span class="little-text">予約期間</span>
随時(要予約)
</div>
<div>
<span class="little-text">時間</span>
ご予約時 要相談<span class="little-text">(1回1.5時間)</span>
</div>
</div>
<div class="course-curriculum-info">
<div>
<span class="little-text">対象</span>
Foula Esthetics Academy<span class="little-text">でご受講いただいた生徒さん限定</span>
</div>
</div>
<div class="course-curriculum-index">
<div class="course-curriculum-index-section">
<div class="lectures co800" style="width: 100%;">
<div class="course-curriculum-index-title">
内容
</div>
<ul>
<li>・ラッシュリフト</li>
<li>・クラシックラッシュ</li>
<li>・ボリュームラッシュ(ご予約の際お申し付けください。)</li>
<li>モデルに施術していただき弊社講師がチェックいたします。</li>
<li>後日ランク評価を改善点レポートと共に発送させていただきます。</li>
<p style="text-decoration: underline double ; color: red;">※モデルは各自で1名ご用意ください。</p> 
</ul>

</div>
</div>
</div>
<div class="kit-area">
<div class="course-curriculum-index-title">
教材
</div>
<div class="kit-area-inner co800">
<div style="font-size: 21px;">なし</div>
</div>
</div>
<div class="course-curriculum-index-title">
ご用意いただくもの
</div>
<div class="bring-today-area-text">
<p>※筆記用具、ツィーザーはご自身のものをご用意下さい。<br>
※ツィーザー以外の道具を弊社より貸与致しますが、通常ご使用されているものを持参していただいても構いません。</p>
</div>
<!--*********************************************************************

    お申込みボタン

**********************************************************************-->
<div class="application-section">
<a href="https://book.squareup.com/classes/2xiian6x1y2hf4/location/LQ1P1NDZ9HJ6J/classes" class="application-link" target="_blank" rel="noopener">お申し込みはこちら</a>
</div>
</div>

</div>


{% include schedule.html %}
{% include contact.html %}


<!--access-section -->
<div class="location-section" id="ACCESS">
<p class="section-title">LOCATION</p>
<div class="location-section-inner">
<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラエステティックアカデミー 東京校</p>
〒150-0001<br>
東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
渋谷駅B1出口より徒歩2分<br>
</p>
</div>
</div>

<div class="location-section-content">
<div class="location-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.0463996531103!2d135.4976533542927!3d34.70283924635157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6eb4339cd61%3A0xf0cd1087ed547c75!2z44OV44O844Op44K544OI44Ki5aSn6Ziq5qKF55Sw5bqX!5e0!3m2!1sja!2sjp!4v1740557042126!5m2!1sja!2sjp" class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラストア大阪梅田店</p>
〒530-0051<br>
大阪府大阪市北区太融寺町８−１０ 梅田高速ビル 4階<br>
御堂筋線梅田駅より徒歩7分<br>
</p>
</div>
</div>
</div>
</div>




<!--faq-section -->
<div class="faq-section" id="FAQ">
<p class="section-title">FAQ</p>
<div class="faq-section-inner">
<div class="faq-section-index">
<p class="question">Q.FEAセミナーは全てスキルチェックがありますか？</p>
<div class="answer">ラッシュリフトおよびまつ毛エクステのスキルチェックは承っておりますが、以下のセミナーについては承っておりません。<br>
・WAX STYLING セミナー<br>
・WAX STYLING フェイシャルコース<br>
・CROWN LASH LIFT 束巻きパーマ実践コース<br>
・LEDエクステセミナー（初心者向け・経験者向け）
</div>
</div>

<div class="faq-section-index">
<p class="question">Q.FEAセミナーを受講していませんが、受講可能ですか？</p>
<div class="answer">
FEAセミナーをご受講されていない方は、お断りさせていただいております。予めご了承ください。
</div>
</div>
</div>
</div>





