---
layout: default
title: フェイス＆うなじ ワキシング実践コース
---



<div class="key-visual">
    <img class="slide-img pc-show" src="../img/seminar/kv-901_7.jpg" alt="">
    <img class="slide-img sp-show" src="../img/seminar/kv-901_7_sp.jpg" alt="">
    <div class="slogan">
        <p class="main-slogan">フェイス＆うなじ<br>ワキシング実践コース</p>
        <p class="sub-slogan">フェイシャル、うなじWAXが習得できます。<br>まつ毛や眉のメニューと組み合わせて単価アップも期待できます。</p>
    </div>
</div>




<!--course-recommended -->
<div class="course-recommended">
    <p class="section-title">RECOMMENDED<span>こんな方におすすめです</span></p>
    <div class="course-recommended-inner">
        <li><img src="../img/icon/check-icon.png" alt="">ワックスメニューを増やしたい方</li>
        <li><img src="../img/icon/check-icon.png" alt="">単価アップしたい方</li>
    </div>
</div>


<!--course-benefits -->
<div class="course-benefits">
    <p class="section-title">COURSE BENEFITS<span>コースの詳細</span></p>
    <ul class="course-benefits-inner">

        <li class="course-benefits-index">
            <div class="course-benefits-index-img">
                <div class="point-img">
                    <img src="../img/seminar/po_01.png" alt="">
                </div>
                <img src="../img/seminar/901-7/cb01.jpg" alt="初心者でもプロの仕上がりを目指せるワックス脱毛講習の様子">
            </div>
            <div class="course-benefits-index-text">
                <p class="benefits-title">初心者でも安心！プロの仕上がりを実現</p>
                <p>初心者でも安心！確実に技術を身につけ、プロの仕上がりを実現します。</p>
            </div>
        </li>

        <li class="course-benefits-index">
            <div class="course-benefits-index-img">
                <div class="point-img">
                    <img src="../img/seminar/po_02.png" alt="">
                </div>
                <img src="../img/seminar/901-7/cb02.jpg" alt="ワックス脱毛で美肌を実現しサロンの評価アップを図る施術シーン">
            </div>
            <div class="course-benefits-index-text">
                <p class="benefits-title">美肌仕上げでサロンの評価アップへ</p>
                <p>ワックス脱毛で、お客様の肌を美しく仕上げ、サロンの評判をさらにアップさせたい方におすすめです。</p>
            </div>
        </li>

        <li class="course-benefits-index">
            <div class="course-benefits-index-img">
                <div class="point-img">
                    <img src="../img/seminar/po_03.png" alt="">
                </div>
                <img src="../img/seminar/901-7/cb03.jpg" alt="顔やうなじなど繊細な部位に特化した脱毛技術のトレーニング風景">
            </div>
            <div class="course-benefits-index-text">
                <p class="benefits-title">顔・うなじに特化した繊細ケア技術</p>
                <p>顔やうなじなど、繊細な部分を扱うための専門技術を学び、スキルを深めたい方におすすめです。</p>
            </div>
        </li>

        <li class="course-benefits-index">
            <div class="course-benefits-index-img">
                <div class="point-img">
                    <img src="../img/seminar/po_04.png" alt="">
                </div>
                <img src="../img/seminar/901-7/cb04.jpg" alt="特別感ある施術でワンランク上のサービスを提供する講習風景">
            </div>
            <div class="course-benefits-index-text">
                <p class="benefits-title">特別感のある施術でワンランク上へ</p>
                <p>少人数での施術でも高い技術を提供したい方、特別なケアを提供して差別化したい方におすすめです。</p>
            </div>
        </li>

    </ul>

<!--*********************************************************************

    お申込みボタン

**********************************************************************-->
<div class="application-section">
<a href="#" class="application-link" target="_blank" rel="noopener">お申し込みはこちら</a>
</div>
</div>







<!--course-curriculum -->
<div class="course-curriculum">
    <div class="course-curriculum-inner">
        <p class="section-title">CURRICULUM<span>コース内容</span></p>
        <div class="course-curriculum-title">
            <span>901-7</span>WAX STYLING<br>
            フェイス＆うなじ<br>ワキシング実践コース
        </div>
        <div class="course-curriculum-info">
            <div>
                <span>受講対象者</span>
                美容師資格をお持ちの方
            </div>
            <div>
                <span>キットあり</span>
                <p class="course-curriculum-price">¥66,000</p><br>
                <span>キットなし</span>
                <p class="course-curriculum-price">¥59,400</p>
            </div>

        </div>
        <div class="course-curriculum-index">
            <div class="course-curriculum-index-section">
                <div class="lectures">
                    <div class="course-curriculum-index-title">
                        座学［オンライン配信］
                    </div>
                    <ul>
                        <li>・ワックスの取り方、剥がし方</li>
                        <li>・手の技法</li>
                        <li>・フェイシャルワックスによるリフトアップさせるツボ剥がしテクニック</li>
                        <li>・保湿の仕方</li>
                        <li>・角質除去法</li>
                    </ul>
                </div>
                <div class="practical">
                    <div class="course-curriculum-index-title">
                        実技
                    </div>
                    <ul>
                        <li>・モデル実技</li>
                        <li>・手の押さえ方や剥がし方の練習</li>
                        <li>・フェイシャル,うなじによるワックス剤の大事な塗り方</li>
                        <li>・保湿テクニック</li>
                        <li>・赤みが出た場合の対処法</li>
                        <p class="for-model" style="text-decoration: none;">※2名のモデルで実技演習を行います。必ず2名ご用意下さい。</p>
                        <p class="for-model" style="color: #f00; text-decoration: none;">※モデルの入り時間はスケジュール表をご確認ください。
                        </p>
                    </ul>
                </div>
            </div>
        </div>

        <div class="diploma-area">
            <div class="course-curriculum-index-title">
                ディプロマ発行
            </div>
            <img src="../img/seminar/diploma.png" alt="" class="diploma">
            <p style="text-align: center; color: #696969;">※画像は　サンプルです</p>
        </div>

        <div class="kit-area">
            <div class="course-curriculum-index-title">
                キット内容<span>※キットありコースを選択した場合</span>
            </div>
            <div class="kit-area-inner">
                <ul class="kit-area-text">
                    <li>・【Cite】デジタルワックスウォーマー</li>
                    <li>・【Cite】スムースハードワックス パールホワイト</li>
                    <li>・【Cite】ウッドスティック 小 500本</li>
                    <li>・【Cite】スタイリングツィーザ</li>
                    <li>・【Cite】ワックスプロテクター</li>
                    <li>・【Cite】ディープエッセンスクリーム 100g</li>
                </ul>
                <div class="kit-area-img">
                    <img src="../img/seminar/kit7.png" alt="">
                    <p>16,000円相当のキット付きでとてもお得!!</p>
                </div>
            </div>
        </div>
        <div class="course-curriculum-index-title">
            当日お持ちいただくもの
        </div>
        <ul class="bring-today-area-text">
            <li>・筆記用具</li>
            <li>・メモ帳</li>
        </ul>

        <div class="wax-lecturer">
            <p class="wax-lecturer-title">担当講師</p>
            <div class="wax-lecturer-inner">
                <div class="wax-lecturer-person">
                    <img src="../img/seminar/wax-lecturer2.jpg" alt="">
                                        <div class="img-insta-figure">
                        <a href="https://www.instagram.com/yuko_waxstyling/"><img
                                src="../img/seminar/wax-lecturer-insta.png" alt=""></a>
                    </div>
                </div>
                <div class="wax-lecturer-detail">
                    <p class="wax-lecturer-subname">WAX STYLINGセミナー講師</p>
                    <p class="wax-lecturer-mainname">清水 裕子<span>［YUKO SHIMIZU］</span></p>
                    <div><a href="https://www.instagram.com/yuko_waxstyling/" class="instagarm-wax">@yuko_waxstyling</a>
                    </div>
                    <div class="wax-lecturer-career">経歴</div>
                    <div class="wax-lecturer-career-detail">
                        <p class="wax-lecturer-career-detail__index">○メイクアップアカデミー　卒業</p>
                        <p class="wax-lecturer-career-detail__index">○日本ブラジリアンワックス協会JBWA 上級認定講師</p>
                        <p style="margin-top: 10px; font-size: 14px; line-height: 200%;">
                            幅広い美容の知識を持ち、ブラジリアンWAX、エステ、メイクと様々な分野で活躍。<br>
                            広尾一等地にあるプライベートサロンは一切の広告活動のない中、<br>
                            既存客と紹介顧客のみで常に先まで予約が埋まる大人気サロン。<br>
                            高い技術と美しい仕上がりには定評があり、数多くの有名人を顧客に持つ</p>
                    </div>

                </div>
            </div>
 <!--*********************************************************************

    お申込みボタン

**********************************************************************-->
<div class="application-section">
<a href="#" class="application-link" target="_blank" rel="noopener">お申し込みはこちら</a>
</div>
        </div>
    </div>

</div>


{% include schedule.html %}
{% include contact.html %}


<!--access-section -->
<div class="access-section" id="ACCESS">
    <p class="section-title">ACCESS</p>
    <div class="access-section-inner">
        <div class="access-address">
            <img src="https://www.foula-academy.com/images/fea_logo.png" alt=""
                style="display: block;width: 300px;filter: brightness(0.1);">
            <p class="access-section-title">フーラエステティックアカデミー 東京校<br>
            〒150-0001<br>
            東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
            Foula Esthetics Academy東京校<br>
            <br>
            渋谷駅B1出口より徒歩5分<br>
            </p>
            <br>
            <a href="https://goo.gl/maps/jHMKuDJKVoScHmM67" class="button primary" target="_blank">Google
                Map</a>
        </div>
        <div class="access-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
                class="access_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>