---
layout: default
title: Lash Liftロッドデザインマスターコース
---

<div class="cta-section">
<a href="https://www.foula-store.jp/p/search?keyword=%E3%80%90FEA%E3%80%91901-3" target="_blank" rel="noopener" class="cta-click" data-seminar="Lash Liftロッドデザインマスターコース">
<span><i class="fa-solid fa-pen-to-square" aria-hidden="true"style="margin-right: 10px;"></i>セミナーに申し込む</span></a>
</div>

<div class="key-visual sem901-3">
<img class="slide-img pc-show" src="../img/seminar/kv-901_3.jpg" alt="">
<img class="slide-img sp-show" src="../img/seminar/kv-901_3_sp.jpg" alt="">
<div class="slogan">
<p class="main-slogan">LASH LIFT<br>上まつ毛<br>ロッドデザインマスターコース<span></span></p>
<p class="sub-slogan">Lash Liftアドバンスがリニューアル<br>
座学のみのセミナーが実技付きで疑問、不安を全て解決<br>
基礎的な技術と知識をお持ちの方限定のコースになります</p>
</div>
</div>



<!--course-recommended -->
<div class="course-recommended">
<p class="section-title">RECOMMENDED<span>こんな方におすすめ</span></p>
<div class="course-recommended-inner">
<li>① ラッシュリフトがうまくいかない方</li>
<li>② 還元、酸化の見極め方ができる方</li>
<li>③ お客様の目元の見極めが苦手な方</li>
<li>④ ロッド選定を迷われている方</li>
<li>⑤ 技術を向上させたい</li>
<li>⑥ 新規、リピーターに向けてカウンセリング力を付けたい</li>
<li class="course-recommended-attention" style="font-size: 14px;">※②がわからない方や、ブランクがある方は<a href="http://" style="
    display: contents;
">Basic</a>のご受講をおすすめします。</li>
</div>
</div>

<!--course-benefits -->
<div class="course-benefits">
<p class="section-title">COURSE BENEFITS<span>コースの詳細</span></p>
<ul class="course-benefits-inner">
<li class="course-benefits-index">

<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_01.png" alt="">
</div>
<img src="../img/seminar/901-3/cb01.jpg" alt="目元に合わせたまつげデザインで他店と差別化する施術風景">
</div>

<div class="course-benefits-index-text">
<p class="benefits-title">目元に合わせたデザインで他店と差別化</p>
<p>目の形やまつげの特徴を活かしたデザインで、他店と差をつけたい方におすすめです。</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_02.png" alt="">
</div>
<img src="../img/seminar/901-3/cb02.jpg" alt="リピーターを増やす高度なまつげデザイン技術の様子">
</div>

<div class="course-benefits-index-text">
<p class="benefits-title">リピーターを増やす高度なデザイン力</p>
<p>高度なデザイン技術を取り入れて、リピーターを増やし、売上アップを狙いたい方に最適です。</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_03.png" alt="">
</div>
<img src="../img/seminar/901-3/cb03.jpg" alt="感動を生む仕上がりを目指すまつげ施術トレーニング">
</div>

<div class="course-benefits-index-text">
<p class="benefits-title">感動を生む仕上がりを叶える技術習得</p>
<p>デザイン力をアップして、より多くのお客様に感動を与えたい方におすすめです。</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_04.png" alt="">
</div>
<img src="../img/seminar/901-3/cb04.jpg" alt="施術に自信を持ちたいアイリスト向けの技術習得シーン">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">施術に自信を持ちたいアイリストへ</p>
<p>他サロンとの差別化を図り、もっと自信を持って施術ができるようになります。</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_05.png" alt="">
</div>
<img src="../img/seminar/901-3/cb05.jpg" alt="中級・上級者向けのさらなる技術向上を目指すまつげ講習">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">さらなる技術向上を目指す方に</p>
<p>技術力をさらに向上させたい中級・上級者の方におすすめ</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_06.png" alt="">
</div>
<img src="../img/seminar/901-3/cb06.jpg" alt="最適なロッド選定で理想の仕上がりを実現する施術指導">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">ロッド選定の極意で理想の仕上がりへ</p>
<p>最適なロッドを選び、一人ひとりの特徴に合わせたデザインをつくることで、美しい仕上がりが実現可能です。</p>
</div>
</li>

</ul>
<!--*********************************************************************

    お申込みボタン

**********************************************************************-->
<!--
<div class="application-section">
<a href="https://www.foula-store.jp/p/search?keyword=%E3%80%90FEA%E3%80%91901-3" class="application-link" target="_blank" rel="noopener">お申し込みはこちら</a>
</div>
-->

</div>

<!--course-curriculum -->
<div class="course-curriculum">
<div class="course-curriculum-inner">
<p class="section-title">CURRICULUM<span>コース内容</span></p>
<div class="course-curriculum-title">
<span>901-3</span>LASH LIFT 上まつ毛<br>ロッドデザインマスターコース
</div>
<div class="course-curriculum-info">
<div>
<span>受講対象者</span>
美容師資格をお持ちの方
</div>
<div>
<span>キットあり</span>
<p class="course-curriculum-price">¥65,780</p><br>
<span>キットなし</span>
<p class="course-curriculum-price">¥54,780</p>
<span class="adv">上まつ毛BASICコース非受講者用<br>キットなし</span>
<p class="course-curriculum-price adv">¥43,780</p>
</div>

</div>
<div class="course-curriculum-index">
<div class="course-curriculum-index-section">
<div class="lectures">
<div class="course-curriculum-index-title">
座学 / 3時間
</div>
<ul>
<li>・重いまぶたで上がらないまつ毛の対処法</li>
<li>・一重・二重・奥二重のロッド選び</li>
<li>・左右非対称のまぶた、眼球が突出している方のロッド選び</li>
<li>・パッチリ、たれ目などのデザイニング技術</li>
<li>・基本の施術</li>
<li>・Citeロッドの選び方、Before・Afterのご紹介</li>
</ul>
</div>
<div class="practical">
<div class="course-curriculum-index-title">
実技 / 2.5時間
</div>
<ul>
<li>※モデルの入り時間はスケジュール表をご確認ください。</li>
</ul>
</div>
</div>
</div>

<div class="diploma-area">
<div class="course-curriculum-index-title">
ディプロマ発行
</div>
<img src="../img/seminar/diploma.png" alt="" class="diploma">
<p style="text-align: center; color: #696969;">※画像はサンプルです</p>
</div>

<div class="kit-area">
<div class="course-curriculum-index-title">
キット内容<span>※キットありコースを選択した場合</span>
</div>
<div class="kit-area-inner">
<ul class="kit-area-text">
<li>・【Cite】プロ システム</li>
<li>・【Cite】クリアグルー Pro</li>
<li>・【Cite】マルチロッド各種</li>
<li>・【Cite】Cosmetic Wrap</li>
<li>・【Cite】リングストーン ホワイト</li>
<li>・【Cite】リフトアップコーム Yタイプ</li>
<li>・【Cite】マイクロブラシ フレキシブル</li>
<li>・【Cite】ラッシュコントロールシステム セット</li>
<li>・【Cite】リアクト ラッシュセラム</li>
<li>・【Cite】リフトアップ コーム Lタイプ</li>
<li>・【ニチバン】スキナゲート下まつげ固定用 1巻</li>
<li>・Lash Lift Basic 上まつ毛ベーシックセミナー ガイド</li>
</ul>
<div class="kit-area-img">
<img src="../img/seminar/kit2.png" alt="">
<p>20,000円相当のキット付きでとてもお得!!</p>
</div>
</div>
</div>
<div class="course-curriculum-index-title">
当日お持ちいただくもの
</div>
<ul class="bring-today-area-text">
<li>・筆記用具</li>
<li>・メモ帳</li>
</ul>


<!--*********************************************************************

    お申込みボタン

**********************************************************************-->
<!--
<div class="application-section">
<a href="https://www.foula-store.jp/p/search?keyword=%E3%80%90FEA%E3%80%91901-3" class="application-link" target="_blank" rel="noopener">お申し込みはこちら</a>
</div>
-->

</div>

</div>

{% include schedule.html %}
{% include contact.html %}


<!--access-section -->
<div class="location-section" id="ACCESS">
<p class="section-title">LOCATION</p>
<div class="location-section-inner">
<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラエステティックアカデミー 東京校</p>
〒150-0001<br>
東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
渋谷駅B1出口より徒歩2分<br>
</p>
</div>
</div>

<div class="location-section-content">
<div class="location-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.0463996531103!2d135.4976533542927!3d34.70283924635157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6eb4339cd61%3A0xf0cd1087ed547c75!2z44OV44O844Op44K544OI44Ki5aSn6Ziq5qKF55Sw5bqX!5e0!3m2!1sja!2sjp!4v1740557042126!5m2!1sja!2sjp" class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラストア大阪梅田店</p>
〒530-0051<br>
大阪府大阪市北区太融寺町８−１０ 梅田高速ビル 4階<br>
御堂筋線梅田駅より徒歩7分<br>
</p>
</div>
</div>
</div>
</div>





<!--faq-section -->
<div class="faq-section" id="FAQ">
<p class="section-title">FAQ</p>
<div class="faq-section-inner">
<div class="faq-section-index">
<p class="question">Q.ベーシックを受けましたが、アドバンスを受けたほうがいいですか？</p>
<div class="answer">
アドバンスコースでは、基本的な巻き上げができるもののうまくいかない、<br>
目の形やまつ毛の長さに合ったデザインが提案できないといった、より細かいお悩みを解決いたします。<br>
ロッド選定の方法や似合わせ方を学ぶことで、ラッシュリフトのデザインの幅が広がります。
</div>
</div>

<div class="faq-section-index">
<p class="question">Q.ベーシックコースを受けないとできませんか？</p>
<div class="answer">
他社のラッシュリフトセミナーを受講された方や、すでにラッシュリフトの施術を行っている方は、ベーシックコースを受講せずにアドバンスコースをご受講いただけます。<br>
ただし、軟化や酸化の見極め方や巻き上げ方に不安がある場合は、ベーシックコースの受講をおすすめいたします。
</div>
</div>

<div class="faq-section-index">
<p class="question">Q.どのようなデザインを学べますか？</p>
<div class="answer">
リフトアップデザインやカールデザイン、Lカールなど、Citeロッドを使用したすべてのデザインを学ぶことができます。
</div>
</div>

</div>
</div>


<div class="course-schedule">
{% include magazine_others.html %}
</div>



