---
layout: default
title: Lash Lift 上まつ毛BASICコース

---
<div class="cta-section">
<a href="https://book.squareup.com/classes/2xiian6x1y2hf4/location/LQ1P1NDZ9HJ6J/classes" target="_blank" rel="noopener" class="cta-click" data-seminar="Lash Lift 上まつ毛BASICコース">
<span><i class="fa-solid fa-pen-to-square" aria-hidden="true"style="margin-right: 10px;"></i>セミナーに申し込む</span></a>
</div>

<div class="key-visual">
<img class="slide-img pc-show" src="../img/seminar/kv-901_1.jpg" alt="">
<img class="slide-img sp-show" src="../img/seminar/kv-901_1_sp.jpg" alt="">
<div class="slogan">
<p class="main-slogan">LASH LIFT<br>上まつ毛 BASICコース</p>
<p class="sub-slogan">業界トップクラスの講師陣による、初心者からブランクがある方、<br>
他社セミナーご受講済みで悩みがある方などにもおすすめのコース</p>
</div>
</div>

<!--course-recommended -->
<div class="course-recommended">
<p class="section-title">RECOMMENDED<span>こんな方におすすめ</span></p>
<div class="course-recommended-inner">
<li><img src="../img/icon/check-icon.png" alt="">ラッシュリフト未経験の方</li>
<li><img src="../img/icon/check-icon.png" alt="">ブランクのある方</li>
<li><img src="../img/icon/check-icon.png" alt="">技術を見直したい方</li>

</div>
</div>

<!--course-benefits -->
<div class="course-benefits">
<p class="section-title">COURSE BENEFITS<span>コースの詳細</span></p>
<ul class="course-benefits-inner">
<li class="course-benefits-index">

<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_01.png" alt="">
</div>
<img src="../img/seminar/901-1/cb01.jpg" alt="初心者が基礎から学べるまつげエクステ講習の様子">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">基礎から学べる</p>
<p>初心者でも安心。<br>すぐに実践できる技術を習得できます</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_02.png" alt="">
</div>
<img src="../img/seminar/901-1/cb02.jpg" alt="リピート率向上を目指す施術トレーニング風景">
</div>

<div class="course-benefits-index-text">
<p class="benefits-title">リピート率アップ</p>
<p>サロンで求められる技術を身につけ、<br>お客様のリピートを増やしたい方に最適です</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_03.png" alt="">
</div>
<img src="../img/seminar/901-1/cb03.jpg" alt="スキルアップを目指すアイリストのための実技練習">
</div>

<div class="course-benefits-index-text">
<p class="benefits-title">スキルアップで差がつく</p>
<p>美容業界でのスキルをさらに深め、<br>自信を持って活躍できるようになります</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_04.png" alt="">
</div>
<img src="../img/seminar/901-1/cb04.jpg" alt="新メニュー追加でサロンの魅力を高める提案風景">
</div>

<div class="course-benefits-index-text">
<p class="benefits-title">新メニューを追加</p>
<p>新たなメニュー追加で、サロンの魅力をアップ！売上アップにもつながります</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_05.png" alt="">
</div>
<img src="../img/seminar/901-1/cb05.jpg" alt="ブランクのある方をサポートする再スタート向け講習風景">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">ブランクOK！<br>再スタートを不安なくサポート</p>
<p>以前に技術を学んだものの、<br>しばらく施術から離れていたため、<br>再び施術に入るのが不安に感じている方</p>
</div>
</li>
</ul>


</div>




<!--course-curriculum -->
<div class="course-curriculum">
<div class="course-curriculum-inner">
<p class="section-title">CURRICULUM<span>コース内容</span></p>
<div class="course-curriculum-title">
<!-- <span>901-1</span> -->LASH LIFT上まつ毛 BASICコース
</div>
            <div class="course-curriculum-info" style="justify-content: center;">
                <div>
                    <span>受講対象者</span>
                    美容師資格をお持ちの方
                </div>
<div>
<span>キットあり</span>
<p class="course-curriculum-price">¥65,780</p><br>
<span>キットなし</span>
<p class="course-curriculum-price">¥54,780</p>
</div>
</div>

<div class="course-curriculum-index">
<div class="course-curriculum-index-section">
<div class="lectures">
<div class="course-curriculum-index-title">
座学 / 3.5時間
</div>
<ul>
<li>・薬剤の基礎知識
<p>成分や作用を理解し、適切に使用するための基礎知識を学ぶ。</p>
</li>
<li>・トラブルのない技術
<p>施術時のリスクを防ぎ、安全で確実な技術を習得する。</p>
</li>
<li>・まつ毛の層
<p>毛の構造を学び、適切な施術を行うための基礎知識。</p>
</li>
<li>・基本の施術
<p>正確で美しい仕上がりを実現するための基本技術。</p>
</li>
<li>・軟化・酸化の見極め方
<p>薬剤の反応を見極め、最適な施術タイミングを判断。</p>
</li>
</ul>
</div>
<div class="practical">
<div class="course-curriculum-index-title">
実技 / 3時間
</div>
<ul>
<li>・カウンセリングとデザイン設計
<p>お客様の目元の特徴や希望をヒアリングし、最適なカールデザインを提案する技術。</p>
</li>
<li>・ロッド選定と正しい装着
<p>まつ毛の長さや生え方に合わせたロッドの選び方と、正確な装着方法を学ぶ。</p>
</li>
<li>・軟化・酸化の見極めと薬剤塗布
<p>まつ毛の状態を確認しながら、適切な薬剤の塗布量や放置時間を判断する技術。</p>
</li>
<li>・まつ毛のリフトアップと整列技術
<p>美しく均一な仕上がりにするためのリフトアップ技術と毛流れの整え方を習得。</p>
</li>
<li>・仕上げとアフターケア指導
<p>仕上げの調整方法と、お客様に伝えるべきホームケアのポイントを学ぶ。</p>
</li>
<p class="for-model">※モデルの方は必ず12:00 にお越し下さい。</p>
</ul>
</div>
</div>







<div class="diploma-area">
<div class="course-curriculum-index-title">
ディプロマ発行
</div>
<img src="../img/seminar/diploma.png" alt="" class="diploma">
<p style="text-align: center; color: #696969;">※画像はサンプルです</p>
</div>

<div class="kit-area">
<div class="course-curriculum-index-title">
キット内容<span>※キットありコースを選択した場合</span>
</div>
<div class="kit-area-inner">
<ul class="kit-area-text">
<li>・【Cite】プロ システム</li>
<li>・【Cite】スタンダードシールド セット</li>
<li>・【Cite】Cosmetic Wrap</li>
<li>・【Cite】リングストーン ホワイト</li>
<li>・【Cite】リフトアップコーム Yタイプ</li>
<li>・【Cite】マイクロブラシ フレキシブル</li>
<li>・【Cite】クリアグルー</li>
<li>・【Cite】ラッシュコントロールシステム セット</li>
<li>・【Cite】リアクト ラッシュセラム</li>
<li>・【Cite】リフトアップ コーム Lタイプ</li>
<li>・【ニチバン】スキナゲート下まつげ固定用 1巻</li>
<li>・Lash Lift Basic 上まつ毛ベーシックセミナー ガイド</li>
</ul>
<div class="kit-area-img">
<img src="../img/seminar/kit.png" alt="">
<p>20,000円相当のキット付きでとてもお得!!</p>
</div>
</div>
</div>
<div class="course-curriculum-index-title">
当日お持ちいただくもの
</div>
<ul class="bring-today-area-text">
<li>・筆記用具</li>
<li>・メモ帳</li>
</ul>
</div>

 <!--*********************************************************************

    お申込みボタン

**********************************************************************-->
<!--
<div class="application-section">
<a href="https://book.squareup.com/classes/2xiian6x1y2hf4/location/LQ1P1NDZ9HJ6J/classes" class="application-link" target="_blank" rel="noopener">お申し込みはこちら</a>
</div>
-->

</div>
</div>


{% include schedule.html %}
{% include contact.html %}


<!--access-section -->
<div class="location-section" id="ACCESS">
<p class="section-title">ACCESS<span>会場アクセス</span></p>
<div class="location-section-inner">
<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラエステティックアカデミー 東京校</p>
〒150-0001<br>
東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
渋谷駅B1出口より徒歩2分<br>
</p>
</div>
</div>

<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.0463996531103!2d135.4976533542927!3d34.70283924635157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6eb4339cd61%3A0xf0cd1087ed547c75!2z44OV44O844Op44K544OI44Ki5aSn6Ziq5qKF55Sw5bqX!5e0!3m2!1sja!2sjp!4v1740557042126!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラストア大阪梅田店</p>
〒530-0051<br>
大阪府大阪市北区太融寺町８−１０ 梅田高速ビル 4階<br>
御堂筋線梅田駅より徒歩7分<br>
</p>
</div>
</div>
</div>
</div>




<!--faq-section -->
<div class="faq-section">
<p class="section-title">FAQ<span>よくある質問</span></p>
<div class="faq-section-inner">
<div class="faq-section-index">
<p class="question">Q.ラッシュリフトの経験がなくても可能ですか？</p>
<div class="answer">
美容師免許をお持ちの方は、未経験でも受講いただくことが可能です。
カール理論から商材の使い方、施術方法までしっかりとレクチャーいたしますので、ご安心ください。
</div>
</div>

<div class="faq-section-index">
<p class="question">Q.まつ毛が短いモデルでも可能ですか？</p>
<div class="answer">
初めての方は、特にまつ毛が短いと巻き上げの練習が難しくなるため、ある程度の長さと密度があるまつ毛をお持ちの方がより適しています。
</div>
</div>

<div class="faq-section-index">
<p class="question">Q.ロッドの持ち込みは可能ですか？</p>
<div class="answer">
ベーシックセミナーでは、他メーカーのロッドはご使用をお控えいただいております。Citeロッドをご用意しておりますので、そちらをご使用ください。
</div>
</div>
<div class="faq-section-index">
<p class="question">Q.セミナー受講後、次の日から施術することは可能ですか？</p>
<div class="answer">
施術をしていただくことは可能ですが、さまざまなロッドで練習していただくことをおすすめいたします。受講後もアフターフォローいたしますので、お気軽にご相談ください。

</div>
</div>
</div>
</div>


<div class="course-schedule">
{% include magazine_others.html %}
</div>
