---
layout: default
title: マンツーマン ボリュームアイラッシュセミナー
---
<div class="cta-section">
<a href="../seminar/seminar_800.html" target="_blank" rel="noopener" class="cta-click" data-seminar="マンツーマン ボリュームアイラッシュセミナー">
<span><i class="fa-solid fa-pen-to-square" aria-hidden="true"style="margin-right: 10px;"></i>セミナーに申し込む</span></a>
</div>

<div class="key-visual">
<img class="slide-img pc-show" src="../img/seminar/kv-800.jpg" alt="">
<img class="slide-img sp-show" src="../img/seminar/kv-800_sp.jpg" alt="">
<div class="slogan">
<p class="main-slogan">初心者向けマンツーマン<br>ボリュームアイラッシュセミナー</p>
<p class="sub-slogan">【理論・実技】</p>
</div>
</div>

<!--course-recommended -->
<div class="course-recommended">
<p class="section-title">RECOMMENDED<span>こんな方におすすめ</span></p>
<div class="course-recommended-inner">
<li><img src="../img/icon/check-icon.png" alt="">ボリュームラッシュ初心者の方</li>
<li><img src="../img/icon/check-icon.png" alt="">ブランクのある方</li>
<li><img src="../img/icon/check-icon.png" alt="">技術を見直したい方</li>
</div>
</div>

<!--course-benefits -->
<div class="course-benefits">
<p class="section-title">COURSE BENEFITS<span>コースの詳細</span></p>
<ul class="course-benefits-inner">

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_01.png" alt="">
</div>
<img src="../img/seminar/800/cb01.jpg" alt="少ないまつげでも濃さを演出する施術イメージ">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">少ないまつげでも<br>濃さを演出できる技術</p>
<p>まつげが少ない方や、ナチュラルだけど濃さがほしい方にピッタリな施術を提供できます。</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_02.png" alt="">
</div>
<img src="../img/seminar/800/cb02.jpg" alt="ファンラッシュの作成と装着を学ぶトレーニング風景">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">ファン作りから装着まで<br>基礎を徹底習得</p>
<p>ファンの作り方や、まつげへの装着テクニックを基礎からしっかり学べます。</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_03.png" alt="">
</div>
<img src="../img/seminar/800/cb03.jpg" alt="グルーの量や装着方法を説明している様子">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">持ちの良さを左右するグルーの極意</p>
<p>グルーの適量や装着ポイントを学び、持ちの良い施術をマスターできます。</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_04.png" alt="">
</div>
<img src="../img/seminar/800/cb04.jpg" alt="高単価メニューとしてのボリュームラッシュ施術例">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">高単価メニューで売上アップを実現</p>
<p>ボリュームラッシュを導入することで、高単価メニューの提供が可能になります。</p>
</div>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<div class="point-img">
<img src="../img/seminar/po_05.png" alt="">
</div>
<img src="../img/seminar/800/cb05.jpg" alt="プロの技術を学ぶ実践的な研修風景">
</div>
<div class="course-benefits-index-text">
<p class="benefits-title">ワンランク上の技術で<br>プロとして差をつける</p>
<p>高度な技術を習得し、ワンランク上のアイリストとして活躍できます。</p>
</div>
</li>
</ul>
<!--*********************************************************************

    お申込みボタン

**********************************************************************-->
<div class="application-section">
<a href="https://www.foula-store.jp/c/academy/academy-eyelash-extension/8001021749" class="application-link" target="_blank" rel="noopener">お申し込みはこちら</a>
</div>
</div>




<!--course-curriculum -->
<div class="course-curriculum">
<div class="course-curriculum-inner">
<p class="section-title">CURRICULUM<span>コース内容</span></p>
<div class="course-curriculum-title">
<span>800</span><span class="school">東京渋谷校</span> マンツーマン ボリュームアイラッシュセミナー
<br><span class="little-text">【理論・実技】</span>
</div>
<div class="course-curriculum-info">
<div>
<span>受講対象者</span>
美容師資格をお持ちの方
</div>
<div>
<span class="little-text">費用</span>
<p class="course-curriculum-price">¥41,800</p>
</div>
</div>
<div class="course-curriculum-info">
<div>
<span class="little-text">期間</span>
5時間＋休憩30分(1日完結)<span class="little-text">※稀に終了時間が押してしまう場合があります。</span>
</div>
<div>
<span class="little-text">開始時間</span>
10:00 ～ 13:00<span class="little-text">（最終受付時間）</span>
</div>
</div>
<div class="course-curriculum-info">
<div>
<span class="little-text">開催日</span>
Kate of Tokyo 本社営業日<span class="little-text">(土日祝日・夏季休暇・年末年始を除く)</span>
</div>
<div>
<span class="little-text"></span>
<span class="little-text">お好きなお日にちをお選びください。</span>
</div>
</div>
<div class="course-curriculum-index">
<div class="course-curriculum-index-section">
<div class="lectures co800" style="width: 100%;">
<div class="course-curriculum-index-title">
内容
</div>
<ul>
<li>・ボリュームアイラッシュ理論</li>
<li>・ファンの作り方</li>
<li>・マネキン装着</li>
<li>・モデル装着(ご受講者様でご用意ください)</li>
<p style="color: red; padding-left: 5px;">※モデルはお越しいただく時間が異なります。</p> 
</ul>
</div>
</div>
</div>

<div class="certificate-area co800">
<p class="course-curriculum-index-title">
ディプロマ
</p>
<p class="certificate-area-text">卒業後発行<br></p>
</div>

<div class="kit-area">
<div class="course-curriculum-index-title">
教材内容
</div>
<div class="kit-area-inner co800">
<div>Foula Eyelash Academy認定 合格証書取得のためには1カ月以上の個人練習をしていただく必要があります。<br>
受験に合格した方にFEA認定バッジ、合格証書を発行します</div>
</div>
</div>
<div class="course-curriculum-index-title">
ご用意いただくもの
</div>
<div class="bring-today-area-text">
<p>※筆記用具、ツィーザーはご自身のものをご用意下さい。<br>
※ボリュームアイラッシュ専用ツィーザーをお持ちでない方は貸出致します。</p>
</div>
<!--*********************************************************************

    お申込みボタン

**********************************************************************-->
<div class="application-section">
<a href="https://www.foula-store.jp/c/academy/academy-eyelash-extension/8001021749" class="application-link" target="_blank" rel="noopener">お申し込みはこちら</a>
</div>
</div>
</div>

<div class="course-curriculum">
<div class="course-curriculum-inner">
<p class="section-title">CURRICULUM<span>コース内容</span></p>
<div class="course-curriculum-title">
<span>800</span><span class="school">大阪</span> マンツーマン ボリュームアイラッシュセミナー
<br><span class="little-text">【理論・実技】</span>
</div>
<div class="course-curriculum-info">
<div>
<span>受講対象者</span>
美容師資格をお持ちの方
</div>
<div>
<span class="little-text">費用</span>
<p class="course-curriculum-price">¥41,800</p>
</div>
</div>
<div class="course-curriculum-info">
<div>
<span class="little-text">期間</span>
6時間＋休憩1時間(1日完結)<span class="little-text">※稀に終了時間が押してしまう場合があります。</span>
</div>
</div>
<div class="course-curriculum-index">
<div class="course-curriculum-index-section">
<div class="lectures co800" style="width: 100%;">
<div class="course-curriculum-index-title">
内容
</div>
<ul>
<li>・ボリュームアイラッシュ理論</li>
<li>・ファンの作り方</li>
<li>・マネキン装着</li>
<li>・モデル装着(ご受講者様でご用意ください)</li>
<p style="color: red; padding-left: 5px;">※モデルはお越しいただく時間が異なります。</p> 
</ul>
</div>
</div>
</div>

<div class="certificate-area co800">
<p class="course-curriculum-index-title">
ディプロマ
</p>
<p class="certificate-area-text">卒業後発行<br></p>
</div>

<div class="kit-area">
<div class="course-curriculum-index-title">
教材内容
</div>
<div class="kit-area-inner co800">
<div>Foula Eyelash Academy認定 合格証書取得のためには1カ月以上の個人練習をしていただく必要があります。<br>
受験に合格した方にFEA認定バッジ、合格証書を発行します</div>
</div>
</div>
<div class="course-curriculum-index-title">
ご用意いただくもの
</div>
<ul class="bring-today-area-text">
<p style="color: #f00;">※筆記用具、ツィーザーはご自身のものをご用意下さい。<br>
※ボリュームアイラッシュ専用ツィーザーをお持ちでない方は貸出致します。</p>
</ul>
<!--*********************************************************************

    お申込みボタン

**********************************************************************-->
<div class="application-section">
<a href="https://www.foula-store.jp/c/academy/academy-eyelash-extension/8001021749" class="application-link" target="_blank" rel="noopener">お申し込みはこちら</a>
</div>
</div>

</div>


{% include schedule.html %}
{% include contact.html %}


<!--access-section -->
<div class="location-section" id="ACCESS">
<p class="section-title">LOCATION</p>
<div class="location-section-inner">
<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラエステティックアカデミー 東京校</p>
〒150-0001<br>
東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
渋谷駅B1出口より徒歩2分<br>
</p>
</div>
</div>

<div class="location-section-content">
<div class="location-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.0463996531103!2d135.4976533542927!3d34.70283924635157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6eb4339cd61%3A0xf0cd1087ed547c75!2z44OV44O844Op44K544OI44Ki5aSn6Ziq5qKF55Sw5bqX!5e0!3m2!1sja!2sjp!4v1740557042126!5m2!1sja!2sjp" class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラストア大阪梅田店</p>
〒530-0051<br>
大阪府大阪市北区太融寺町８−１０ 梅田高速ビル 4階<br>
御堂筋線梅田駅より徒歩7分<br>
</p>
</div>
</div>
</div>
</div>




<!--faq-section -->
<div class="faq-section" id="FAQ">
<p class="section-title">FAQ</p>
<div class="faq-section-inner">
<div class="faq-section-index">
<p class="question">Q.まつ毛エクステ未経験ですが受講できますか？</p>
<div class="answer">まつ毛エクステンションの基本的な知識や技術をお持ちの方のみ受講いただけます。
未経験の方は、アイリスト養成スクールの受講をお願いいたします。</div>
</div>
</div>


</div>
</div>




