---
layout: top
title: わたしたちについて | CONCEPT
---
<style>
    .header {
        background-color: #352B24;
        margin-bottom: 50px;
    }

    .consept-section {
        padding-top: 70px;
    }

    .consept-section-inner {
        margin-bottom: 0;
    }

    @media screen and (max-width: 798px) {
        .consept-section {
            padding-top: 0px;
        }
    }
</style>

{% include concept.html %}
{% include instructor.html %}

<!--access-section -->
<div class="location-section">
    <p class="section-title">LOCATION<span>セミナー会場</span></p>
    <div class="location-section-inner">
        <div class="location-section-content">
            <div class="location-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
                    class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="location-address">
                <p class="location-section-title">フーラエステティックアカデミー 東京校</p>
                〒150-0001<br>
                東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
                渋谷駅B1出口より徒歩2分<br>
                </p>
            </div>
        </div>

        <div class="location-section-content">
            <div class="location-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.0463996531103!2d135.4976533542927!3d34.70283924635157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6eb4339cd61%3A0xf0cd1087ed547c75!2z44OV44O844Op44K544OI44Ki5aSn6Ziq5qKF55Sw5bqX!5e0!3m2!1sja!2sjp!4v1740557042126!5m2!1sja!2sjp"
                    class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="location-address">
                <p class="location-section-title">フーラストア大阪梅田店</p>
                〒530-0051<br>
                大阪府大阪市北区太融寺町８−１０ 梅田高速ビル 4階<br>
                御堂筋線梅田駅より徒歩7分<br>
                </p>
            </div>
        </div>
        <div class="location-section-content">
            <div class="location-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26589.433174738002!2d130.39666100000002!3d33.587679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35419122d7b846fd%3A0x4cf20931c5d12b8b!2z44OV44O844Op44K544OI44Ki56aP5bKh5aSp56We5bqX!5e0!3m2!1sja!2sjp!4v1746768724916!5m2!1sja!2sjp"
                    class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="location-address">
                <p class="location-section-title">フーラストア福岡天神店</p>
                〒810-0023<br>福岡市中央区警固1丁目6-56 サウスガーデン4F 401A<br>
                西鉄福岡天神駅北口 / 地下鉄天神駅から徒歩10分<br>
                </p>
            </div>
        </div>
    </div>
</div>