---
layout: top
title: よくある質問
body_class: page-faq
---
<!--faq-section -->
<div class="all-faq">
    <div class="faq-section">
        <p class="section-title">FAQ<span>よくある質問</span></p>

        <div class="faq-section-inner">
            <p class="faq-section-title">FEAセミナーに関して</p>

            <div class="faq-item">
                <p class="faq-item__question">Q.モデルが用意できなかった場合はどうすればいいですか？</p>
                <div class="faq-item__answer">
                    基本的にモデルはご自身でご用意いただくようお願いいたしますが、やむを得ず当日にモデルが用意できない場合、5,500円(税込)でモデルの貸し出しが可能です。その際は、当日お支払いのみとさせていただきます。
                </div>
            </div>

            <div class="faq-item">
                <p class="faq-item__question">Q.申込後いつまでに入金すればよろしいですか？</p>
                <div class="faq-item__answer">お申込みいただいてから、3営業日以内にご入金をお願いいたします。</div>
            </div>


            <div class="faq-item">
                <p class="faq-item__question">Q.各セミナーの価格はいくらですか？</p>
                <div class="faq-item__answer">各セミナーの金額は異なります。また、キット有無でも金額が異なりますので各セミナーページでご確認ください。</div>
            </div>

            <div class="faq-item">
                <p class="faq-item__question">Q.遅刻した場合、時間の延長はできますか？</p>
                <div class="faq-item__answer">
                    延長はいたしかねます。遅刻された場合は、実技の時間が短縮されますので、あらかじめご了承ください。また、時間を早めて終了することもできませんので、あらかじめお時間をご確認いただきますようお願いいたします。
                </div>
            </div>

            <div class="faq-item">
                <p class="faq-item__question">Q.日本語が話せない場合、セミナーを受けることは可能でしょうか？</p>
                <div class="faq-item__answer">英語・中国語のスタッフが通訳お担当いたします。通訳費用ば別途頂戴いたします。
                    必要な場合は、事前にご連絡ください。</div>
            </div>

            <div class="faq-item">
                <p class="faq-item__question">Q.道具の持ち込みは可能ですか？</p>
                <div class="faq-item__answer">ご使用いただいている商材をお持ち込みは可能ですが、セット剤や前処理等トリートメントはCite商品をご利用いただきます。
                    グルーや巻き上げツールをご用意させていただいてるためぜひ試しに使用してください。</div>
            </div>

            <div class="faq-item">
                <p class="faq-item__question">Q.当日受講できない場合、振替日を指定することは可能ですか？</p>
                <div class="faq-item__answer">次回開講するお日にちの変更は可能です。お客様のご都合に合わせることは出来かねますので予めご了承ください。</div>
            </div>


            <p class="faq-section-title">Lash Lift 上まつ毛BASICコース</p>
            <div class="faq-item">
                <p class="faq-item__question">Q.ラッシュリフトの経験がなくても可能ですか？</p>
                <div class="faq-item__answer">美容師免許をお持ちの方は、未経験でも受講いただくことが可能です。
                    カール理論から商材の使い方、施術方法までしっかりとレクチャーいたしますので、ご安心ください。</div>
            </div>
            <div class="faq-item">
                <p class="faq-item__question">Q.まつ毛が短いモデルでも可能ですか？</p>
                <div class="faq-item__answer">初めての方は、特にまつ毛が短いと巻き上げの練習が難しくなるため、ある程度の長さと密度があるまつ毛をお持ちの方がより適しています。</div>
            </div>
            <div class="faq-item">
                <p class="faq-item__question">Q.ロッドの持ち込みは可能ですか？</p>
                <div class="faq-item__answer">ベーシックセミナーでは、他メーカーのロッドはご使用をお控えいただいております。Citeロッドをご用意しておりますので、そちらをご使用ください。</div>
            </div>
            <div class="faq-item">
                <p class="faq-item__question">Q.セミナー受講後、次の日から施術することは可能ですか？</p>
                <div class="faq-item__answer">施術をしていただくことは可能ですが、さまざまなロッドで練習していただくことをおすすめいたします。受講後もアフターフォローいたしますので、お気軽にご相談ください。
                </div>
            </div>


            <p class="faq-section-title">Lash Lift 下まつ毛コース</p>
            <div class="faq-item">
                <p class="faq-item__question">Q.下まつげのモデルで不向きな方はいますか？</p>
                <div class="faq-item__answer">まつ毛が抜けている方、まつ毛が短い方、または涙が出やすい方は、ご遠慮いただいております。</div>
            </div>
            <div class="faq-item">
                <p class="faq-item__question">Q.未経験でも受講することは可能でしょうか？</p>
                <div class="faq-item__answer">
                    下まつげの場合、上まつげよりも目元に近い部分にセット剤を塗布するため、理論などをしっかり理解したうえで受講していただくことをおすすめしております。そのため、ベーシックコースを受講された方が対象となっております。
                </div>
            </div>
            <div class="faq-item">
                <p class="faq-item__question">Q.下まつげのラッシュリフトの施術は難しいですか？</p>
                <div class="faq-item__answer">
                    下まつげは上まつげよりも細かい作業が必要ですが、このコースでは、丁寧にステップを踏んで学べるので、実技を通じて自信を持って施術できるようになります。しっかりとサポートいたしますので安心してください。
                </div>
            </div>


            <p class="faq-section-title">Lash Lift ロッドデザインマスターコース</p>
            <div class="faq-item">
                <p class="faq-item__question">Q.ベーシックを受けましたが、アドバンスを受けたほうがいいですか？</p>
                <div class="faq-item__answer">
                    アドバンスコースでは、基本的な巻き上げができるもののうまくいかない、目の形やまつ毛の長さに合ったデザインが提案できないといった、より細かいお悩みを解決いたします。ロッド選定の方法や似合わせ方を学ぶことで、ラッシュリフトのデザインの幅が広がります。
                </div>
            </div>
            <div class="faq-item">
                <p class="faq-item__question">Q.ベーシックコースを受けないとできませんか？</p>
                <div class="faq-item__answer">
                    他社のラッシュリフトセミナーを受講された方や、すでにラッシュリフトの施術を行っている方は、ベーシックコースを受講せずにアドバンスコースをご受講いただけます。ただし、軟化や酸化の見極め方や巻き上げ方に不安がある場合は、ベーシックコースの受講をおすすめいたします。
                </div>
            </div>
            <div class="faq-item">
                <p class="faq-item__question">Q.どのようなデザインを学べますか？</p>
                <div class="faq-item__answer">リフトアップデザインやカールデザイン、Lカールなど、Citeロッドを使用したすべてのデザインを学ぶことができます。</div>
            </div>


            <p class="faq-section-title">アイリスト養成スクール【理論・実技】</p>
            <div class="faq-item">
                <p class="faq-item__question">Q.セミナー受講後、次の日から施術することは可能ですか？</p>
                <div class="faq-item__answer">
                    セミナーでは、基本的な知識や技術を習得していただけますが、さまざまなお客様の目元で練習し、デザイン別の練習やカウンセリング力を身につけていただくことをおすすめいたします。
                    受講後もアフターフォローいたしますので、お気軽にご相談ください。</div>
            </div>


            <p class="faq-section-title">技術スキルチェック【実技】</p>
            <div class="faq-item">
                <p class="faq-item__question">Q.FEAセミナーは全てスキルチェックがありますか？</p>
                <div class="faq-item__answer">ラッシュリフトおよびまつ毛エクステのスキルチェックは承っておりますが、以下のセミナーについては承っておりません。<br>
                    ・WAX STYLING セミナー<br>
                    ・WAX STYLING フェイシャルコース<br>
                    ・CROWN LASH LIFT 束巻きパーマ実践コース<br>
                    ・LEDエクステセミナー（初心者向け・経験者向け）</div>
            </div>
            <div class="faq-item">
                <p class="faq-item__question">Q.FEAセミナーを受講していませんが、受講可能ですか？</p>
                <div class="faq-item__answer">FEAセミナーをご受講されていない方は、お断りさせていただいております。予めご了承ください。</div>
            </div>


            <p class="faq-section-title">マンツーマン ボリュームアイラッシュセミナー</p>
            <div class="faq-item">
                <p class="faq-item__question">Q.まつ毛エクステ未経験ですが受講できますか？</p>
                <div class="faq-item__answer">まつ毛エクステンションの基本的な知識や技術をお持ちの方のみ受講いただけます。
                    未経験の方は、アイリスト養成スクールの受講をお願いいたします。</div>
            </div>


        </div>
    </div>

</div>


{% include instructor.html %}
{% include location.html %}
