---
layout: top
title: トップページ
---

<div class="key-visual">
<div class="lp-slide">
<div class="lp-slide_wrapper">
<div class="swiper topSwiper">
<div class="swiper-wrapper">

<div class="swiper-slide">
<div class="slide-img_wrapper">
<img class="slide-img pc-show" src="img/top/kv.jpg" alt="">
<img class="slide-img sp-show" src="img/top/kv-sp.jpg" alt="">
</div>
</div>
<div class="swiper-slide">
<div class="slide-img_wrapper">
<img class="slide-img pc-show" src="img/top/kv2.jpg" alt="">
<img class="slide-img sp-show" src="img/top/kv-sp2.jpg" alt="">
</div>
</div>

<div class="swiper-slide">
<div class="slide-img_wrapper">
<img class="slide-img pc-show" src="img/top/kv3.jpg" alt="">
<img class="slide-img sp-show" src="img/top/kv-sp3.jpg" alt="">
</div>
</div>

<div class="swiper-slide">
<div class="slide-img_wrapper">
<img class="slide-img pc-show" src="img/top/kv4.jpg" alt="">
<img class="slide-img sp-show" src="img/top/kv-sp4.jpg" alt="">
</div>
</div>

</div>
</div>
</div>
<div class="scroll_down" id="type07">
<a>
<div class="arrow"></div>
<div class="arrow"></div>
<div class="arrow"></div>
<span class="text">Scroll</span>
</a>
</div>
</div>




<div class="slogan">
<img src="img/fea_logo.png" alt="" class="kv-sp-show">
<p class="main-slogan">世界基準の技術を、<br>あなたの手に。</p>
<p class="sub-slogan">初心者からプロフェッショナルまで、安心して学べる講座。<br>
経験豊富な講師陣が、確かな技術と自信をあなたに届けます。</p>
</div>
</div>
{% include concept.html %}
{% include seminar.html %}
{% include instructor.html %}
{% include schedule.html %}
{% include contact.html %}

<!--access-section -->
<div class="access-section" id="ACCESS">
<p class="section-title">ACCESS</p>
<div class="access-section-inner">
<div class="access-address">
<img src="https://www.foula-academy.com/images/fea_logo.png" alt=""
style="display: block;width: 300px;filter: brightness(0.1);">
<p class="access-section-title">フーラエステティックアカデミー 東京校</p>
〒150-0001<br>
東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
Foula Esthetics Academy東京校<br>
<br>
渋谷駅B1出口より徒歩5分<br>
</p>
<br>
<a href="https://goo.gl/maps/jHMKuDJKVoScHmM67" class="button primary" target="_blank">Google
Map</a>
</div>
<div class="access-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
class="access_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>
</div>

<!--faq-section -->
<div class="faq-section" id="FAQ">
<p class="section-title">FAQ</p>
<div class="faq-section-inner">
<div class="faq-section-index">
<p class="question">Q.モデルが用意できなかった場合はどうすればいいですか？</p>
<div class="answer">
基本的にモデルはご自身でご用意いただくようお願いいたしますが、
やむを得ず当日にモデルが用意できない場合、5,500円（税込）でモデルの貸し出しが可能です。
その際は、当日お支払いのみとさせていただきます。</div>
</div>

<div class="faq-section-index">
<p class="question">Q.申込後いつまでに入金すればよろしいですか？</p>
<div class="answer">
お申込みいただいてから、3営業日以内にご入金をお願いいたします。</div>
</div>

<div class="faq-section-index">
<p class="question">Q.各セミナーの価格はいくらですか？</p>
<div class="answer">
各セミナーの金額は異なります。また、キット有無でも金額が異なりますので各セミナーページでご確認ください。
</div>
</div>
<div class="faq-section-index">
<p class="question">Q.遅刻した場合、時間の延長はできますか？</p>
<div class="answer">
延長はいたしかねます。遅刻された場合は、実技の時間が短縮されますので、あらかじめご了承ください。
また、時間を早めて終了することもできませんので、あらかじめお時間をご確認いただきますようお願いいたします。
</div>
</div>
<div class="faq-section-index">
<p class="question">Q.日本語が話せない場合、セミナーを受けることは可能でしょうか？</p>
<div class="answer">
英語・中国語のスタッフが通訳お担当いたします。通訳費用ば別途頂戴いたします。</div>
</div>
<div class="faq-section-index">
<p class="question">Q.道具の持ち込みは可能ですか？</p>
<div class="answer">
ご使用いただいている商材をお持ち込みは可能ですが、セット剤や前処理等トリートメントはCite商品をご利用いただきます。
グルーや巻き上げツールをご用意させていただいてるためぜひ試しに使用してください。</div>
</div>
<div class="faq-section-index">
<p class="question">Q.当日受講できない場合、振替日を指定することは可能ですか？</p>
<div class="answer">
次回開講するお日にちの変更は可能です。お客様のご都合に合わせることは出来かねますので予めご了承ください。</div>
</div>
</div>
</div>

{% include magazine_others.html %}

