---
layout: default
title: アイリスト養成スクール【理論・実技】アイリストになるための知識と技術
---



<div class="key-visual">
<img class="slide-img pc-show" src="../img/seminar/kv-101.jpg" alt="">
<img class="slide-img sp-show" src="../img/seminar/kv-101_sp.jpg" alt="">
<div class="slogan">
<p class="main-slogan">アイリスト養成スクール<br>理論・実技</p>
<p class="sub-slogan">アイリストになるための知識と技術を習得</p>
</div>
</div>





<!--course-recommended -->
<div class="course-recommended">
<p class="section-title">RECOMMENDED<span>こんな方におすすめ</span></p>
<div class="course-recommended-inner">
<li><img src="../img/icon/check-icon.png" alt="">まつ毛エクステンション未経験の方</li>
<li><img src="../img/icon/check-icon.png" alt="">美容業界でキャリアアップを目指している方</li>
<li><img src="../img/icon/check-icon.png" alt="">技術・理論をしっかり学びたい方</li>
</div>
</div>


<!--course-benefits -->
<div class="course-benefits">
<p class="section-title">BENEFITS<span>私たちが選ばれる理由</span></p>
<ul class="course-benefits-inner">

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<img src="../img/seminar/benefit01.jpg" alt="">
</div>
<p class="benefits-title">1.基礎から応用まで！即戦力のスキルを習得</p>
<p>まつげエクステの基礎から応用まで学び、サロンワークで即活かせるスキルを身につけられます。</p>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<img src="../img/seminar/benefit02.jpg" alt="">
</div>
<p class="benefits-title">2.未経験でも安心！丁寧なステップ指導</p>
<p>未経験の方でも安心！道具の使い方から施術の流れまで、丁寧にレクチャーします。</p>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<img src="../img/seminar/benefit03.jpg" alt="">
</div>
<p class="benefits-title">3.売上アップを目指すならまつエク導入を</p>
<p>まつげエクステを取り入れることで客単価アップ＆リピート率UP！売上アップにつながります。</p>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<img src="../img/seminar/benefit04.jpg" alt="">
</div>
<p class="benefits-title">4.美容業界でのキャリアを広げる第一歩</p>
<p>まつげエクステの技術を習得し、美容業界でのキャリアをさらに広げたい方に最適です。</p>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<img src="../img/seminar/benefit05.jpg" alt="">
</div>
<p class="benefits-title">5.美容師の方にもおすすめ！施術の幅を拡大</p>
<p>美容師をされている方でアイラッシュやまつ毛に関する技術を学び、提供したいと考えている方</p>
</li>

<li class="course-benefits-index">
<div class="course-benefits-index-img">
<img src="../img/seminar/benefit05.jpg" alt="">
</div>
<p class="benefits-title">6.ゼロからでも自信がつく安心の学習環境</p>
<p>まつ毛エクステの技術をゼロから学び、自信を持って施術を始めたい方、自信がない方も大歓迎！</p>
</li>
</ul>
</div>

<!--course-curriculum -->
<div class="course-curriculum">
<div class="course-curriculum-inner">
<p class="section-title">CURRICULUM<span>コース内容</span></p>
<div class="course-curriculum-title">
<span>101</span>アイリスト養成スクール【理論・実技】
<br><span class="little-text">～アイリストになるための知識と技術～</span>
</div>
<div class="course-curriculum-info">
<div>
<span>受講対象者</span>
美容師免許提示
</div>
<div>
<span class="little-text">費用</span>
<p class="course-curriculum-price">¥158,400</p>
</div>
</div>
<div class="course-curriculum-info">
<div>
<span class="little-text">期間</span>
3日間(7日×3日間)
</div>
<div>
<span class="little-text">時間</span>
10:00 ～ 18:00<span class="little-text">（授業時間7時間、休憩1時間）</span>
</div>
</div>
<div class="course-curriculum-index">
<div class="course-curriculum-index-section">
<div class="lectures">
<div class="course-curriculum-index-title">
Day 1
</div>
<ul>
<li>・まつ毛、目の構造、毛周期</li>
<li>・商材学</li>
<li>・施術中の注意点</li>
<li>・上まつ毛 装着の流れ</li>
<li>・上まつ毛 基礎装着(マネキン)</li>
</ul>
</div>
<div class="lectures">
<div class="course-curriculum-index-title">
Day 2
</div>
<ul>
<li>・病理学</li>
<li>・アイシャンプー</li>
<li>・衛生学</li>
<li>・基礎デザイン</li>
<li>・リムーブ流れ</li>
<li>・マネキン実技</li>
<li>・モデル実技</li>
</ul>
</div>
<div class="lectures day3">
<div class="course-curriculum-index-title">
Day 3
</div>
<ul>
<li>・カウンセリング</li>
<li>・アフターケア</li>
<li>・安全処置、トラベル対応</li>
<li>・リペア</li>
<li>・カウンセリング実践</li>
<li>・上まつ毛 装着(モデル1人目)</li>
<li>・上リムーブ　ポイントオフ・全オフ</li>
<li>・上まつ毛 装着(モデル2人目)<li>
</ul>
</div>
</div>
<p style="text-align: center; text-decoration: underline double ; color: red;">※各自モデルのご用意をお願いいたします</p> 
</div>

<div class="certificate-area">
<p class="course-curriculum-index-title">
修了証
</p>
<p class="certificate-area-text">卒業後発行</p>
</div>

<div class="kit-area">
<div class="course-curriculum-index-title">
教材内容
</div>
<div class="kit-area-inner">
<ul class="kit-area-text">
<li>・V&Cグルー</li>
<li>・MOIST REMOVER Perfume 10g</li>
<li>・まつげエクステ専用前処理剤 MOIST CLEAN</li>
<li>・【ニチバン】紙バン業務用パック 9mm×10m つるつるテープ 1巻</li>
<li>・日東メディカル 優肌絆 不織布(白) 1巻 メディカルサージカルテープ</li>
<li>・【Foula】マイクロツィーザ ストレート 日本製 125mm</li>
<li>・【Foula】マイクロツィーザ 先曲がり型 日本製 125mm</li>
<li>・エア－ブロア フラミンゴピンク</li>
<li>・【Foula】グループレート玉石(ヒスイ)</li>
<li>・練習用マネキンフェイス</li>
</ul>
<ul class="kit-area-text">
<li>・スクリューブラシ</li>
<li>・おでこタオル ダークブラウン</li>
<li>・Air Sable シートタイプ</li>
<li>・Jカール 0.15mm Mix</li>
<li>・Cカール 0.15mm Mix</li>
<li>・Dカール 0.15mm Mix</li>
</ul>
</div>
</div>
<div class="course-curriculum-index-title">
ご用意いただくもの
</div>
<ul class="bring-today-area-text">
<li>・筆記用具 ※消耗品は貸出しいたします</li>
</ul>
</div>

</div>


{% include schedule.html %}
{% include contact.html %}


<!--access-section -->
<div class="location-section" id="ACCESS">
<p class="section-title">LOCATION</p>
<div class="location-section-inner">
<div class="location-section-content">
<div class="location-map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5297994639373!2d139.7003458152583!3d35.663954680198344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca63766daa1%3A0x943568a6dec15f79!2z5qCq5byP5Lya56S-44Kx44Kk44OI44Kq44OW5p2x5LqsIOacrOekvu-8iEthdGUgb2YgVG9reW8gQ28uLEx0ZC4gSGVhZHF1YXRlcnPvvIk!5e0!3m2!1sja!2sjp!4v1631063596956!5m2!1sja!2sjp"
class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラエステティックアカデミー 東京校</p>
〒150-0001<br>
東京都渋谷区神宮前6-19-20 第15荒井ビル7階<br>
渋谷駅B1出口より徒歩2分<br>
</p>
</div>
</div>

<div class="location-section-content">
<div class="location-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.0463996531103!2d135.4976533542927!3d34.70283924635157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6eb4339cd61%3A0xf0cd1087ed547c75!2z44OV44O844Op44K544OI44Ki5aSn6Ziq5qKF55Sw5bqX!5e0!3m2!1sja!2sjp!4v1740557042126!5m2!1sja!2sjp" class="location_googlemap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="location-address">
<p class="location-section-title">フーラストア大阪梅田店</p>
〒530-0051<br>
大阪府大阪市北区太融寺町８−１０ 梅田高速ビル 4階<br>
御堂筋線梅田駅より徒歩7分<br>
</p>
</div>
</div>
</div>
</div>




<!--faq-section -->
<div class="faq-section" id="FAQ">
<p class="section-title">FAQ</p>
<div class="faq-section-inner">
<div class="faq-section-index">
<p class="question">Q.セミナー受講後、次の日から施術することは可能ですか？</p>
<div class="answer">セミナーでは、基本的な知識や技術を習得していただけますが、
    さまざまなお客様の目元で練習し、デザイン別の練習やカウンセリング力を身につけていただくことをおすすめいたします。
受講後もアフターフォローいたしますので、お気軽にご相談ください。
</div>
</div>

</div>
</div>

<div class="course-schedule">
{% include magazine_others.html %}
</div>
