<!--contact-section -->
<div class="contact-section">
    <p class="section-title">CONTACT<span>お問い合わせ・お申込み</span></p>
    <div class="contact-section-inner">


        <p class="contact-notice">ご質問・不明点はお気軽にお問い合わせください</p>
        <ul class="contact-form">
            <li>
                <a href="mailto:fea@foula.jp?subject=お問い合わせ" class="c_mail">
                    <div class="c_icon"><img src="../img/icon/envelope.png" alt=""></div>
                    <div class="c_des">
                        <p>MAILでご相談</p><span>（24時間受付中）</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:0120-428-355" class="c_tel">
                    <div class="c_icon"><img src="../img/icon/phone-call.png" alt=""></div>
                    <div class="c_des">
                        <p>0120-428-355</p><span>（土日祝休）</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://lin.ee/pPz0x6b" class="c_line"  target="_blank" rel="noopener">
                    <div class="c_icon"><img src="../img/icon/line.png" alt=""></div>
                    <div class="c_des">
                        <p style="margin-bottom: 7px;">LINEでご相談</span>
                    </div>
                </a>
        </li>
        </ul>

        
        <div class="app-form">
            <a href="#">
                    
                    <div class="c_des">
                        <p style="margin-bottom: 7px;">お申し込みはこちら</span>
                    </div>
                    <div class="c_icon"><img src="../img/icon/arrow.png" alt=""></div>
            </a>
        </div>
    </div>
</div>