<header>
 <!--    
    <div class="loading">
        <img class="loading__logo pc-show" src="https://www.foula-academy.com/img/op-logo-fea-pc.png" alt="Foula Esthetics Academy">
        <img class="loading__logo sp-show" src="https://www.foula-academy.com/img/op-logo-fea-sp.png" alt="Foula Esthetics Academy">
    </div>
 -->
    <div class="page-top">
        <a href="#top"></a>
    </div>
    <div class="header">
        <div class="header-inner">
 
        <div class="logo">
            <a href="https://www.foula-academy.com/new_index.html">
                <img src="https://www.foula-academy.com/img/fea_logo.png" alt="">
            </a>
        </div>
        <div class="nav-item">
            <ul>
                <li><a href="https://www.foula-academy.com/concept.html">CONCEPT</a></li>
                <li><a href="https://www.foula-academy.com/seminar.html">SEMINAR</a></li>
                <li><a href="https://www.foula-academy.com/instructor.html">INSTRUCTOR</a></li>
                <li><a href="https://www.foula-academy.com/schedule.html">SCHEDULE</a></li>
                <li><a href="https://www.foula-academy.com/faq.html">FAQ</a></li>
                <li><a href="https://squareup.com/jp/ja">FORM</a></li>
            </ul>
        </div>
      <!--   
        <div class="contact">
            <a href="#FORM">
                <p>MAIL</p>
                <img src="https://www.foula-academy.com/img/icon/mail.png" alt="">
            </a>
        </div>
        -->     

        </div>
    </div>



    <div class="sp-header">
        <div class="logo">
            <a href="https://www.foula-academy.com/new_index.html">
            <img src="https://www.foula-academy.com/img/fea_logo.png" alt="">
            </a>
        </div>
        <div class="sp-toggle">
            <a class="toggle">
                <span></span>
                <span></span>
            </a>
        </div>
    </div>

    <div class="modal-menu__container">
        <div class="modal-menu__contents">
            <div class="modal-menu__contents-inner">
                <ul>
                    <li><a href="https://www.foula-academy.com/concept.html">CONCEPT
                            <span>わたしたちについて</span>
                        </a></li>
                    <li><a href="https://www.foula-academy.com/seminar.html">SEMINAR
                            <span>セミナー</span></a></li>
                    <li><a href="https://www.foula-academy.com/instructor.html">INSTRUCTOR
                            <span>講師プロフィール</span></a></li>
                    <li><a href="https://www.foula-academy.com/schedule.html">SCHEDULE<span>スケジュール</span></a></li>
                    <li><a href="https://www.foula-academy.com/faq.html">FAQ<span>よくある質問</span></a></li>
                    <li><a href="https://www.foula-academy.com/https://squareup.com/jp/ja">FORM<span>申し込みフォーム</span></a></li>
                    <li><a href="tel:03-6419-7164"><p>TEL</p><span>お電話でのご予約・お問い合わせはこちらから</span></a></li>
                </ul>

                <div class="contact">

                </div>
                <div class="address">
                    <a><img src="https://www.foula-academy.com/images/new_kotlogo_w.svg" alt=""
                            class="footer-logo"></a>
                    株式会社ケイトオブ東京<br>
                    〒150-0001<br>
                    東京都渋谷区神宮前6-19-20 第15荒井ビル 7F<br>
                    営業時間：10:00 - 17:00<br>
                    休業日：土日祝
                </div>

                <div class="sns">
                    <!--<p>OFFICIAL SNS</p> -->
                    <a href="https://www.instagram.com/foulaestheticsacademy/"><img src="https://www.foula-academy.com/img/icon/instagram.png" alt=""></a>
                    <a href="tel:0120-428-355"><img src="../img/icon/phone-call.png" alt=""></a> 
                     <a href="https://lin.ee/pPz0x6b" class="c_line"  target="_blank" rel="noopener"><img src="../img/icon/line.png" alt="" style="filter: initial;"></a>
                </div>
            </div>
        </div>
    </div>
</header>
