<!-- Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title -->
<title>{{ page.title }}</title>

<!-- Favicon -->
<link rel="shortcut icon" href="https://www.foula-academy.com/images/favicon.ico">

<!-- Google Fonts: Preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">

<!-- CSS-->
<!-- <link rel="stylesheet" href="https://www.foula-academy.com/assets/css/style.css"> -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="https://www.foula-academy.com/assets/css/seminar-style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<!-- JavaScript-->

<script src="https://www.foula-academy.com/assets/js/add.js" defer></script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108823127-16"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-108823127-16');
</script>
