<!--seminar-section-->
<div class="seminar-section">
    <p class="section-title">SEMINAR<span>セミナー</span></p>
    <ul class="seminar-list">
        <li><a href="#LASHLIFT">LASH LIFT<span>ラッシュリフト</span></a></li>
        <li><a href="#EYELASH">EYELASH EXTENSIONS<span>エクステ</span></a></li>
        <li><a href="#MIMITSUBO">MIMITSUBO<span>ミミツボ</span></a></li>
        <li><a href="#WAXSTYLING">WAX STYLING<span>ワックススタイリング</span></a></li>
    </ul>

    <!--seminar-section セミナーリスト-->
    <p class="seminar-index_title" id="LASHLIFT">LASHLIFT<span>ラッシュリフト</span></p>
    <div class="seminar-index">
        <ul>

            <li class="seminar-contents">
                <div class="seminar-contents-img">
                    <a href="seminar/exlift.html">
                        <img src="../images/top/contents_seminar_exlift_inperson.jpg" alt="">
                    </a>
                </div>
                <div class="seminar-contents-detail">
                    <p class="text">ExLiftセミナー<span>(対面)</span></p>
                    <p class="comment">新技法『エクスリフト』で理想の目元を実現。<br>
                        『エクステ×パーマ』2つの技術を融合した" 即売上アップ" の実践力を1day完結で効率よくマスターできます。</p>
                    <div class="bottom-area">
                        <div class="link-btn">
                            <a href="seminar/exlift.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥88,000<span>(キット有り)</span></p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="seminar-contents">
                <div class="seminar-contents-img">
                    <a href="seminar/exlift.html">
                        <img src="../images/top/contents_seminar_exlift_online.jpg" alt="">
                    </a>
                </div>
                <div class="seminar-contents-detail">
                    <p class="text">ExLiftセミナー<span>(オンライン)</span></p>
                    <p class="comment">新技法『エクスリフト』をオンラインで習得。<br>エクステとパーマを融合した最新技術を、<br>1日で効率よく学び、即売上アップへ。</p>
                    <div class="bottom-area">
                        <div class="link-btn">
                            <a href="seminar/exlift.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥55,000<span>(キット無し)</span></p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="seminar-contents">
                <div class="seminar-contents-img">
                    <a href="../seminar-new/seminar_901-1.html">
                    <img src="https://www.foula-academy.com/images/top/contents_seminar_list_basic.jpg" alt="">
                    </a>
                </div>
                <div class="seminar-contents-detail">
                    <p class="text">Lash Lift 上まつ毛 BASICコース</p>
                    <p class="comment">業界トップクラスの講師陣による、初心者からブランクがある方、
他社セミナーご受講済みで悩みがある方などにもおすすめのコース
                    </p>
                    <div class="bottom-area">
                        <div class="link-btn">
                            <a href="../seminar-new/seminar_901-1.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥65,780<span>(キット有り)</span></p>
                            <p>¥54,780<span>(キット無し)</span></p>
                        </div>
                   </div>
                </div>
            </li>

            <li class="seminar-contents">
                <div class="seminar-contents-img">
                    <a href="../seminar-new/seminar_901-2.html">
                    <img src="https://www.foula-academy.com/images/top/contents_seminar_list_under.jpg" alt="">
                    </a>
                </div>
                <div class="seminar-contents-detail">
                    <p class="text">Lash Lift 下まつ毛コース<span>※経験者限定</span></p>
                    <p class="comment">上下同時施術で客単価アップを目指せます。
                        Lash Liftセミナー受講経験のある方限定のコースです。
                        下まつ毛の生え方の人それぞれ、全てのお客様に対応できる知識が身に付きます。
                    </p>
                    <div class="bottom-area">
                        <div class="link-btn">
                            <a href="../seminar-new/seminar_901-2.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥60,280<span>(キット有り)</span></p>
                            <p>¥54,780<span>(キット無し)</span></p>
                        </div>
                   </div>
                </div>
            </li>

            <li class="seminar-contents">
                <div class="seminar-contents-img">
                    <a href="../seminar-new/seminar_901-3.html">
                        <img src="https://www.foula-academy.com/images/top/contents_seminar_list_advance.jpg" alt="">
                    </a>
                </div>
                <div class="seminar-contents-detail">
                    <p class="text">LASH LIFT 上まつ毛<br>ロッドデザインマスターコース</p>
                    <p class="comment">Lash Liftアドバンスが実技付きにリニューアル！
                        疑問や不安を解消できる、基礎知識をお持ちの方限定の実践型コースです。</p>
                    <div class="bottom-area">
                        <div class="link-btn">
                            <a href="../seminar-new/seminar_901-3.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥65,780<span>(キット有り)</span></p>
                            <p>¥54,780<span>(キット無し)</span></p>
                            <p>¥43,780<span>(上まつげ BASICコース受講者 キット無し)</span></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="seminar-contents">

                <div class="seminar-contents-img">
                    <a href="../seminar-new/crownlashlift-seminar.html">
                        <img src="https://www.foula-academy.com/images/top/seminar_top_img_crownlashlift.jpg" alt="">
                    </a>
                </div>
                <div class="seminar-contents-detail">
                    <p class="text">CROWN LASH LIFT <br class="br-pc-none">束巻きパーマ実践コース<span>（オンライン動画付き）</span></p>
                    <p class="comment">圧倒的な集客力！1カ月分の予約が30分で埋まる大人気技術「クラウンラッシュリフト」。
                        自分好みの束感まつ毛を叶える次世代オーダーメイドまつ毛パーマです。</p>
                    <div class="bottom-area">
                        <div class="link-btn">
                            <a href="../seminar-new/crownlashlift-seminar.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥55,000<span>(キット有り)</span></p>
                        </div>
                    </div>
                </div>
                </a>
            </li>

        </ul>
    </div>

    <p class="seminar-index_title even" id="EYELASH">EYELASH EXTENSIONS<span>エクステ</span></p>
    <div class="seminar-index even">
        <ul>
            <li class="seminar-contents">
                <div class="seminar-contents-img">
                    <a href="../seminar-new/seminar_101.html">
                        <img src="img/top/school.jpg" alt="">
                    </a>
                </div>
                <div class="seminar-contents-detail">
                    <p class="text">アイリスト養成スクール<span>【理論・実技】</span></p>
                    <p class="comment">初心者向けのアイリストになるための知識と技術を学ぶコースです。
                        美容師免許提示必須です。</p>
                    <div class="bottom-area">
                        <div class="link-btn">
                            <a href="../seminar-new/seminar_101.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥158,400</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="seminar-contents">
                <div class="seminar-contents-img">
                    <a href="../seminar-new/seminar_108.html">
                        <img src="https://www.foula-academy.com/images/top/contents_seminar_list_4.jpg" alt="">
                    </a>
                </div>
                <div class="seminar-contents-detail">
                    <p class="text">技術スキルチェック<br><span>【実技】</span></p>
                    <p class="comment">Foura Esthetics Academyでご受講いただいた生徒さん限定。<br>
                        不安解消！自身を持てるアイリストに。</p>
                    <div class="bottom-area">
                        <div class="link-btn">
                            <a href="../seminar-new/seminar_108.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥11,000</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="seminar-contents">
                <div class="seminar-contents-img">
                    <a href="../seminar-new/seminar_800.html">
                        <img src="https://www.foula-academy.com/images/top/contents_seminar_list_5.jpg" alt="">
                    </a>
                </div>
                <div class="seminar-contents-detail">
                    <p class="text">マンツーマン<br>ボリュームアイラッシュセミナー</p>
                    <p class="comment">初心者向けボリュームアイラッシュセミナーです。<br>
                        マンツーマンでの授業で一流のアイリストに！</p>
                    <div class="bottom-area">
                        <div class="link-btn">
                            <a href="../seminar-new/seminar_800.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥41,800</p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <p class="seminar-index_title" id="MIMITSUBO">MIMITSUBO<span>耳つぼ</span></p>
    <div class="seminar-index">
        <ul>
            <li class="seminar-contents">
                    <div class="seminar-contents-img">
                    <a href="seminar/mimitsubo.html">
                        <img src="/images/top/contents_seminar_list_mimitsubo.jpg" alt="">
                    </a>
                    </div>
                    <div class="seminar-contents-detail">
                        <p class="text">耳つぼジュエリー導入セミナー<span>(対面)</span></p>
                        <p class="comment">話題の耳つぼジュエリーでサロンの売上アップ！耳つぼジュエリー導入セミナー。「耳にシールを貼るだけで？」顔色が明るくなり、リフトアップの実感も。
                            話題の“耳から整える”耳つぼジュエリーをあなたのサロンにも取り入れてみませんか？江戸時代から続く伝統整体「神代家」第18代当主が全面監修。目的別、個人のセルフケアからサロン導入まで全3コースの本格セミナーです。</p>
                      <div class="bottom-area">
                        <div class="link-btn">
                            <a href="seminar/mimitsubo.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥94,600<span>(キット有り)</span></p>
                            <p>¥82,500<span>(キット無し)</span></p>
                        </div>
                        </div>
                    </div>
            </li>
        </ul>
    </div>

    <p class="seminar-index_title" id="WAXSTYLING">WAX STYLING<span>ワックススタイリング</span></p>
    <div class="seminar-index">
        <ul>
            <li class="seminar-contents">
                    <div class="seminar-contents-img">
                    <a href="../seminar-new/seminar_901-5.html">
                        <img src="img/top/eyebrow.jpg" alt="">
                    </a>
                    </div>
                    <div class="seminar-contents-detail">
                        <p class="text">アイブロウ デザイン＆ワキシング<br>スターターコース</p>
                        <p class="comment">これからサロン導入を目指す方へ、WAXの基礎から眉デザイン、気になる小鼻・口回り。うなじWAXまで徹底講習。</p>
                      <div class="bottom-area">
                        <div class="link-btn">
                            <a href="../seminar-new/seminar_901-5.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥94,600<span>(キット有り)</span></p>
                            <p>¥82,500<span>(キット無し)</span></p>
                        </div>
                        </div>
                    </div>
            </li>
            <li class="seminar-contents">
                    <div class="seminar-contents-img">
                        <a href="../seminar-new/seminar_901-7.html">
                        <img src="img/top/wax.jpg" alt="">
                        </a>
                    </div>
                    <div class="seminar-contents-detail">
                        <p class="text">フェイス＆うなじ<br>ワキシング実践コース</p>
                        <p class="comment">フェイシャル、うなじWAXが習得で来ます。まつ毛や眉のメニューと組み合わせて単価アップも期待できます。</p>
                                              <div class="bottom-area">
                        <div class="link-btn">
                            <a href="../seminar-new/seminar_901-7.html">View More</a>
                        </div>
                        <div class="price">
                            <p>¥66,000<span>(キット有り)</span></p>
                            <p>¥59,400<span>(キット無し)</span></p>
                        </div>
                         </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>