<!--seminar-section-->
<div class="seminar-section">
<p class="section-title">SEMINAR<span>セミナー</span></p>
<ul class="seminar-list">
<li><a href="#LASHLIFT">LASH LIFT<span>ラッシュリフト</span></a></li>
<li><a href="#EYELASH">EYELASH<span>アイラッシュ</span></a></li>
<li><a href="#WAXSTYLING">WAX STYLING<span>ワックススタイリング</span></a></li>
</ul>

<!--seminar-section セミナーリスト-->
<p class="seminar-index_title" id="LASHLIFT">LASHLIFT<span>ラッシュリフト</span></p>
<div class="seminar-index">
<ul>
<li class="seminar-contents ">
<a href="seminar/exlift.html">
<div class="seminar-contents-img">
<img src="https://www.foula-academy.com/images/top/contents_seminar_list_exlift2.jpg"
alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">-</p>
<p class="text">ExLiftセミナー(対面)</p>
<p class="comment">新技法『エクスリフト』で理想の目元を実現。<br>
『エクステ×パーマ』2つの技術を融合した" 即売上アップ" の実践力を1day完結で効率よくマスターできます。</p>
</div>
</a>
</li>

<li class="seminar-contents ">
<a href="seminar/exlift.html">
<div class="seminar-contents-img">
<img src="https://www.foula-academy.com/images/top/contents_seminar_list_exlift2.jpg"
alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">-</p>
<p class="text">ExLiftセミナー(オンライン)</p>
<p class="comment">セミナーでは、まつ毛の状態・仕上がりの理想・施術時間を考慮した最適な施術方法を、実際の装着を交えて解説します。</p>
</div>
</a>
</li>

<li class="seminar-contents">
<a href="../seminar-new/seminar_901-1.html">
<div class="seminar-contents-img">
<img src="https://www.foula-academy.com/images/top/contents_seminar_list_under.jpg" alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">901-2</p>
<p class="text">下まつ毛コース <br>※経験者のみ</p>
<p class="comment">Lash Liftセミナー受講経験のある方限定のコースです。<br>下まつ毛の生え方の人それぞれ、全てのお客様に対応できる知識が身に付きます。
</p>
<div class="price">
<p>¥60,280(キット有り)</p>
<p>¥54,780(キット無し)</p>
</div>
</div>
</a>
</li>
<li class="seminar-contents">
<a href="../seminar-new/seminar_901-3.html">
<div class="seminar-contents-img">
<img src="https://www.foula-academy.com/images/top/contents_seminar_list_advance.jpg"
alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">901-3</p>
<p class="text">上まつ毛 ADVANCEコース<br>(デザイン)</p>
<p class="comment">座学のみのセミナーが実技付きで疑問、不安を全て解決!!<br>
基礎的な技術と知識をお持ちの方限定のコースになります。</p>
<div class="price">
<p>¥65,780(キット有り)</p>
<p>¥54,780(キット無し)</p>
<p>¥43,780(上まつげ BASICコース受講者 キット無し)</p>
</div>
</div>
</a>
</li>
<li class="seminar-contents">
<a href="../seminar-new/crownlashlift-seminar.html">
<div class="seminar-contents-img">
<img src="https://www.foula-academy.com/images/top/seminar_top_img_crownlashlift.jpg"
alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">CROWN LASH LIFT</p>
<p class="text">束巻きパーマ実践コース<br>（オンライン動画付き）</p>
<p class="comment">座学のみのセミナーが実技付きで疑問、不安を全て解決!!<br>
基礎的な技術と知識をお持ちの方限定のコースになります。</p>
<div class="price">
<p>¥55,000(キット有り)</p>
</div>
</div>
</a>
</li>

</ul>
</div>

<p class="seminar-index_title" id="EYELASH">EYELASH EXTENSIONS<span>エクステ</span></p>
<div class="seminar-index">
<ul>
<li class="seminar-contents">
<a href="../seminar-new/seminar_101.html">
<div class="seminar-contents-img">
<img src="img/top/school.jpg" alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">101</p>
<p class="text">アイリスト養成スクール<br>【理論・実技】</p>
<p class="comment">初心者向けのアイリストになるための知識と技術を学ぶコースです。<br>
美容師免許提示必須です。</p>
<div class="price">
<p>¥158,400</p>
</div>
</div>
</a>
</li>
<li class="seminar-contents">
<a href="../seminar-new/seminar_108.html">
<div class="seminar-contents-img">
<img src="https://www.foula-academy.com/images/top/contents_seminar_list_4.jpg" alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">108</p>
<p class="text">技術スキルチェック<br>【実技】</p>
<!--  <p class="kit">キット有り</p> -->
<p class="comment">Foura Esthetics Academyでご受講いただいた生徒さん限定。<br>
不安解消！自身を持てるアイリストに。</p>
<div class="price">
<p>¥11,000</p>
</div>
</div>
</a>
</li>
<li class="seminar-contents">
<a href="../seminar-new/seminar_800.html">
<div class="seminar-contents-img">
<img src="https://www.foula-academy.com/images/top/contents_seminar_list_5.jpg" alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">800</p>
<p class="text">マンツーマン<br>ボリュームアイラッシュセミナー</p>
<!--  <p class="kit">キット有り</p> -->
<p class="comment">初心者向けボリュームアイラッシュセミナーです。<br>
マンツーマンでの授業で一流のアイリストに！</p>
<div class="price">
<p>¥41,800</p>
</div>
</div>
</a>
</li>

</ul>
</div>

<p class="seminar-index_title" id="WAXSTYLING">WAX STYLING<span>ワックススタイリング</span></p>
<div class="seminar-index">
<ul>
<li class="seminar-contents">
<a href="../seminar-new/seminar_901-5.html">
<div class="seminar-contents-img">
<img src="img/top/eyebrow.jpg" alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">901-5</p>
<p class="text">WAX STYLING<br>セミナー</p>
<p class="comment">これからサロン導入を目指す方へ、WAXの基礎から眉デザイン、気になる小鼻・口回り。うなじWAXまで徹底講習。</p>
<div class="price">
<p>¥94,600(キット有り)</p>
<p>¥82,500(キット無し)</p>
</div>
</div>
</a>
</li>
<li class="seminar-contents">
<a href="../seminar-new/seminar_901-7.html">
<div class="seminar-contents-img">
<img src="img/top/wax.jpg" alt="">
</div>
<div class="seminar-contents-detail">
<p class="num">901-7</p>
<p class="text">WAX STYLING<br>フェイシャルコースセミナー</p>
<p class="comment">フェイシャル、うなじWAXが習得で来ます。まつ毛や眉のメニューと組み合わせて単価アップも期待できます。</p>
<div class="price">
<p>¥66,000(キット有り)</p>
<p>¥59,400(キット無し)</p>
</div>
</div>
</a>
</li>

</ul>
</div>
</div>
