@import url('https://fonts.googleapis.com/css2?family=Anton&family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gowun+Batang&family=Noto+Sans+Arabic:wght@100..900&family=Shippori+Mincho&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Shippori Mincho", sans-serif;
  color: #352B24;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

:root {
  --swiper-theme-color: #352B24 !important;
}

.swiper-pagination-bullet {
  width: 80px !important;
  height: 5px !important;
  border-radius: 0 !important;
}

/**************************************************************************

TOPへ戻る

**************************************************************************/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: #1B1B1B;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease !important;
  visibility: visible;
}


.loading__logo {
  opacity: 0;
  animation: logo_fade 1.5s forwards;
  width: 500px;
}

.loading img {
  width: 100%;
  max-width: 350px;
}

@keyframes logo_fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 798px) {

  .pc-show {
    display: none;
  }

  .sp-show {
    display: block;
  }

  .loading img {
    width: 250px;
  }
}

@media screen and (max-width: 498px) {
  .loading img {
    width: 200px;
  }
}

/**************************************************************************

TOPへ戻る

**************************************************************************/
.page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 42px;
  height: 42px;
  z-index: 99;
}

.page-top a {
  background: url(https://foula.itembox.design/item/images/common/arrow.png) no-repeat center / 12px, #ffffff;
  border: 1px solid #352B24;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/**************************************************************************

header ヘッダー

**************************************************************************/
.header {
  width: 100%;
  position: fixed;
  /* background-color: #352B24; */
  height: 85px;
  top: 0;
  z-index: 999;
  transition: 0.4s;
}

.header-inner {
  padding: 25px 0px;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  position: fixed;
  height: 85px;
  /* top: 0; */
  margin: 0 auto !important;
  left: 50%;
  transform: translateX(-50%);
}

.header a {
  color: #fff;
  font-size: 14px;
}

.logo {
  width: 30%;
}

.logo img {
  width: 100%;
  max-width: 270px;
}

.nav-item {
  /* width: 55%; */
  height: 35px;
}

.nav-item ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-item ul li {}

.contact {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
}

.contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid #fff;
  padding: 7px 20px;
  border-radius: 15px;
}

.contact img {
  width: 20px;
  filter: invert(1);
  display: block;
}

.header.active {
  background-color: #ffffffe3;
  border-bottom: 1px solid #352B243333b;
  transition: 0.4s;
}

.header.active .logo img {
  filter: brightness(0);
}

.header.active a {
  color: #352B24;
}

.header.active .contact {
  color: #352B24;
}

.header.active .contact img {
  filter: invert(0);
}

.header.active .contact a {
  border: 1px solid #352B24;
}

.sp-header {
  display: none;
}

.modal-menu__container {
  display: none;
}

@media screen and (max-width: 798px) {
  .header {
    display: none;
  }

  .sp-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99999;
    padding: 5%;
  }

  .logo {
    width: 70%;
  }

  .logo img {
    width: 100%;
    max-width: 270px;
    filter: brightness(0.1);
    transition: 0.6s;
  }

  .sp-header.active .logo img {
    filter: initial;
    transition: 0.6s;
  }

  .sp-toggle {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1a1b1c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
    /*   transform: translateY(-108%); */
    /*   opacity: 0; */
    /*    transition: transform 1.2s ease 0s,opacity 1.2s ease 0s; */
  }

  .toggle {
    position: relative;
    width: 22px;
    height: 28px;
  }

  .toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1a1b1c;
    overflow: hidden;
    transition: 0.2s;
  }

  .toggle span:before {
    content: " ";
    display: block;
    height: 2px;
    background: #fef6ee;
  }

  .toggle span:nth-of-type(1) {
    top: 10px;
  }

  .toggle span:nth-of-type(2) {
    top: 19px;
    right: 0;
    left: auto;
  }

  .toggle.active span:nth-of-type(2) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
    top: 23px;
    transition: 0.2s ease-in;
  }

  .toggle.active span:nth-of-type(1) {
    -webkit-transform: translateY(9px) rotate(-45deg);
    transform: translateY(9px) rotate(-45deg);
    top: 4px;
    transition: 0.2s ease-in;
  }

  .modal-menu__container {
    display: block;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: #1a1b1c;
    z-index: -1;
    transition: 0.2s;
  }

  .modal-menu__container.open {
    opacity: 1;
    transition: 0.2s;
    z-index: 9999;
  }

  .modal-menu__contents {
    opacity: 0;
    top: -100%;
    transition: 0.9s;
  }

  .modal-menu__container.open .modal-menu__contents {
    opacity: 1;
    top: 0;
    transition-delay: 0.2s;
  }

  .modal-menu__contents-inner {
    padding-top: 95px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25%;
    height: 100vh;
    overflow: auto;
  }

  .modal-menu__contents-inner ul {
    margin-bottom: 35px;
  }

  .modal-menu__contents-inner ul li a {
    display: block;
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 15px;
    letter-spacing: 0.07rem;
  }

  .modal-menu__contents-inner ul li a span {
    font-size: 12px;
    display: block;
    color: #b0b0b0;
    letter-spacing: 0;
  }

  .modal-menu__contents-inner .address {
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 175%;
  }

  .modal-menu__contents-inner .address img {
    width: 245px;
    display: block;
  }

  .modal-menu__contents-inner .sns {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 15px;
  }

  .modal-menu__contents-inner .sns img {
    filter: invert(1);
    width: 30px;
  }

  .modal-menu__contents-inner ul li {
    list-style: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .modal-menu__contents-inner ul.show li {
    opacity: 1;
    transform: translateY(0);
  }
}


/**************************************************************************

key-visual キービジュアル

**************************************************************************/
.key-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.key-visual::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.185);
  width: 100%;
  height: 100%;
}

.key-visual img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.key-visual.sem901-3 img {
  object-position: top left;
}

.kv-sp-show {
  display: none;
  width: 100%;
}

.key-visual .slogan {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-shadow: 0px 0px 10px #352B24;
  z-index: 999;
}

.main-slogan {
  font-size: 72px;
  margin-bottom: 5px;
}

.main-slogan span {
  font-size: 31px;
  display: block;
  margin-bottom: 15px;
  padding-left: 3px;
}

.sub-slogan {
  font-size: 21px;
  line-height: 200%;
  padding-left: 5px;
}


.section-title {
  position: relative;
  text-align: center;
  font-size: 32px;
  margin: 50px auto 20px;
}

.section-title span {
  font-size: 14px;
  display: block;
}

.section-title::after {
  position: absolute;
  content: "";
  background-color: #352B24;
  width: 100px;
  height: 1px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}



/* スライド */
.lp-slide {
  margin: 0 auto;
  width: 100%;
}

.slide-img {
  width: 100%;
  object-fit: contain;
}



/* ここからスライド画像の拡大アニメーション */
@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

.topSwiper .swiper-slide-active .slide-img,
.topSwiper .swiper-slide-duplicate-active .slide-img,
.topSwiper .swiper-slide-prev .slide-img {
  animation: zoom 7s linear 0s normal both;
}

.pc-show {
  display: block;
}

.sp-show {
  display: none;
}

@media screen and (max-width: 798px) {
  .key-visual {
    height: 85vh;
  }

  .key-visual img {
    height: 85vh
  }

  .key-visual.sem901-3 img {
    object-position: center;
  }

  .pc-show {
    display: none;
  }

  .sp-show {
    display: block;
  }

  .kv-sp-show {
    display: block;
    max-width: 270px !important;
    height: initial !important;
    filter: drop-shadow(0px 0px 10px #352B24);
  }

  .key-visual .slogan {
    left: 0;
    padding: 0 15px;
  }

  .main-slogan {
    font-size: 32px;
    margin-bottom: 15px;
  }
  

  .sub-slogan {
    font-size: 16px;
    line-height: 200%;
    padding-left: 5px;
  }

  .sub-slogan br {
    display: none;
  }

  .scroll_down {
    z-index: 999;
    position: absolute;
    bottom: 50px;
    left: 53%;
    transform: translateX(-50%);
    animation: arrowmove 1s ease-in-out infinite;
  }

  .scroll_down a {
    position: absolute;
    left: -24px;
    bottom: 30px;
    color: #fff;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    width: 24px;
    height: 24px;
    text-decoration: none;
  }

  .text {
    display: block;
    margin-top: 70px;
    margin-left: -14px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  /*   white-space: nowrap; */
    letter-spacing: 2px;
  }

  .arrow {
    position: absolute;
    width: 28px;
    height: 5px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }

  .arrow:first-child {
    animation: move 3s ease-out 1s infinite;
  }

  .arrow:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  .arrow:before,
  .arrow:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }

  .arrow:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }

  .arrow:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  @keyframes move {
    25% {
      opacity: 1;
    }

    33% {
      opacity: 1;
      transform: translateY(30px);
    }

    67% {
      opacity: 1;
      transform: translateY(40px);
    }

    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

}

/**************************************************************************

consept-section コンセプト

**************************************************************************/
.consept-section {
  position: relative;
  width: 100%;

}

.consept-section::after {
  position: absolute;
  display: inline-block;
  content: url('https://www.rakuten.ne.jp/gold/foula/dummy/fea-dummy/img/circle_logo.png');
  top: 15%;
  left: -10%;
  filter: opacity(0.2);
  animation: rotation 35s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.consept-section-inner {
  max-width: 650px;
  padding-top: 50px;
  margin: 0px auto 105px;
  font-size: 16px;
  /* line-height: 220%; */
  text-align: center;
}

.consept-section h1 {
  display: block;
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 220%;
}

.consept-section div {
  line-height: 220%;
}

@media screen and (max-width: 798px) {
  .consept-section {
    padding-left: 15px;
    padding-right: 15px;
  }
.consept-section-inner {
    margin-bottom: 35px;
}
  .consept-section h1 {
    font-size: 2em;
  }

  .consept-section p:nth-of-type(2n) {
    text-align: justify;
  }

  .consept-section::after {
    transform: scale(0.5);
    content: url('./img/circle_logo-sp.png');
  }

}

@media screen and (max-width: 498px) {
.consept-section h1 {
    font-size: 1.7em;
    line-height: 160%;
    text-align: start;
    padding-left: 15px;
}
.consept-section div {
    text-align: start;
}
}

/**************************************************************************

seminar-section セミナーリスト

**************************************************************************/
.seminar-section {
  padding-top: 50px;
}

.seminar-list {
    width: 100%;
    max-width: 1280px;
    margin: 85px auto 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.seminar-list li {
  width: 31%;
}



.seminar-list li a {
    display: block;
    font-size: 21px;
    /* line-height: 24px; */
    padding: 15px 0px;
    color: #352B24;
    text-align: center;
    border: 1px solid #352B24;
    transition: 0.4s;
}
.seminar-list li a:hover {
   background-color: #352B24;
   color: #fff;
}
.seminar-list li a span {
  display: block;
  font-size: 16px;
}

.seminar-index_title {
  text-align: center;
  font-size: 24px;
  /*     display: flex;
justify-content: center;
align-items: center;
gap: 15px; */
  padding-top: 100px;
  margin-bottom: 20px;
}

.seminar-index_title span {
  font-size: 14px;
  display: block;
}


.seminar-index ul {
    width:100%;
    max-width: 1280px;
    padding: 0 15px;
    margin: 15px auto 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.seminar-contents {
    width: 49%;
    padding: 0px;
    margin-bottom: 30px;
    /* padding-bottom: 20px; */
    /* min-height: 670px; */
    border: 1px solid #cbcbcb;
    /* border-right: 0; */
    transition: 0.4s;
}

.seminar-contents.coming {
  /* filter: blur(1px); */
  background-color: #808080;
  mix-blend-mode: difference;
}

.seminar-contents.coming .seminar-contents-detail {
  color: #353535;
}

.seminar-contents:last-child {
  /* border-right: 1px solid #cbcbcb; */
}

.seminar-contents-img {}

.seminar-contents-img img {
  transition: 0.4s;
  width: 100%;
  display: block;
}

.seminar-contents-detail {
    text-align: center;
    color: #352B24;
    font-size: 16px;
    padding: 10px 25px 35px;
}

.seminar-contents-detail .num {
  position: relative;
  font-size: 21px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.seminar-contents-detail .text {
    position: relative;
    font-size: 21px;
    padding-bottom: 5px;
    margin: 10px auto 0px;
}

.seminar-contents-detail .text span {
    display: block;
    font-size: 18px;
    margin-top: 5px;
    letter-spacing: 0.09rem;
}
.bottom-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-area .link-btn {
  width: 35%;
}
.bottom-area .link-btn a {
       background-color: #068cb4;
    color: #fff;
    padding: 10px 35px;
    border-radius: 25px;
    font-size: 18px;
}

.seminar-contents-detail .price {
    width: 63%;
}
.seminar-contents-detail .price p {
    margin-bottom: 0px;
    text-align: end;
    font-size: 30px;
}
.seminar-contents-detail .price p span {
    font-size: 12px;
    padding-left: 7px;
    padding-right: 5px;
}
.seminar-contents-detail .kit {
  background-color: #352B24;
  color: #fff;
  text-align: center;
  width: 70%;
  font-size: 18px;
  padding: 2px 0;
  margin: 10px auto 7px;
}

.seminar-contents-detail .comment {
    font-size: 16px;
    margin-top: 15px;
    text-align: start;
    margin-bottom: 40px;
    line-height: 180%;
}

.seminar-contents-detail .text br {
  display: block;
}

/* .seminar-contents-detail br {
display: none;
} */

.seminar-contents-detail .num {
  position: relative;
  font-size: 31px;
  margin: 10px 0 25px;
}

.seminar-contents-detail .num::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #352B24;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}



@media screen and (max-width: 798px) {
  .seminar-section {
    padding-top: 0px;
}
.even{
background-color: #f8f8f8;
}
.seminar-index_title {
    padding-top: 65px;
    margin-bottom: 0;
}
.seminar-index_title.even {
    /* padding-top: 25px; */
    margin-top: 35px;
}
.seminar-list {
    padding: 0 15px;
    margin-top: 35px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
}
.seminar-index ul {
   padding:  0 15px;
}
  .seminar-list li {
    border: none;
    width: 48%;
  }
/*   .seminar-list li:last-child{
    width: 75%;
  } */
  .seminar-list li:first-child {
    border-left: none;
  }

.seminar-list li a {
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 18px;
    border: 1px solid #352B24;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seminar-list li a span {
    display: block;
    font-size: 14px;
}
.seminar-index ul {
    flex-direction: column;
    margin-bottom: 0;
    padding: 0 10px;
    margin-top: 0;
}

  .seminar-contents {
    width: 100%;
    min-height: initial;
    border: 1px solid #cbcbcb;
    margin-bottom: 10px;
    border: 0;
    padding: 15px 0;
  }
.seminar-contents-detail {
    padding: 0px;
}
.seminar-contents-detail .text {
    font-size: 21px;
    display: block;
    text-align: start;
    padding: 5px 0 5px 7px;
    border: 0;
    border-left: 5px #0271a5 solid;
    height: 100%;
    background: #fff;
    color: #352B24;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-family: 'Shippori Mincho';
    font-weight: inherit;
    /* margin-bottom: 8px; */
}
.seminar-index.even .seminar-contents-detail .text {
    background-color: #f8f8f8;
}
.seminar-contents-detail .num {
    display: none;
}
  .seminar-contents-detail br {
    display: block;
  }


  .seminar-contents-detail .comment {
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 15px;
    padding-left: 0;
  }
  .seminar-contents-detail .comment br{
    display: none;
  }
  .seminar-contents-detail .price {
    width: 100%;
}
  .seminar-contents-detail .price p {
    font-size: 21px;
  }

  .seminar-contents-detail .price p {
    margin-bottom: 5px;
  }

  .seminar-contents .text::after {
    display: none;
  }
  .bottom-area {
    flex-direction: column-reverse;
}
.bottom-area .link-btn {
    margin-top: 35px;
    margin-bottom: 20px;
    width: 100%;
}
.bottom-area .link-btn a {
    background-color: #352B24;
}
.br-pc-none{
  display: block;
}
}


/**************************************************************************

instructor-section

**************************************************************************/
.instructor-section {
  padding-top: 50px;
}

.instructorSwiper {
  width: 100%;
  max-width: 1280px;
  margin: 55px auto 75px;
  display: flex;
  cursor: grab;
}

.person {
  text-align: center;
  cursor: initial;
}

.person-img img {
  width: 100%;
  cursor: pointer;
}

.name-en {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.name-ja {
  font-size: 16px;
}

.region {
  border: 1px solid #352B24;
  padding: 5px 15px;
  margin: 15px auto 70px;
  width: max-content;
}

.popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  display: flex;
  justify-content: center;
  gap: 1%;
  align-items: center;
  /*   flex-direction: column; */
  background: white;
  padding: 20px 25px 25px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  position: relative;
}

.popup-content div {
  width: 48%;
  /*     padding-left: 10px;
padding-right: 10px; */
}

.popup-content img {
  width: 100%;
  margin: auto;
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.per-pro {
  font-size: 36px;
}

.per-intro {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

#per-name {
  font-size: 24px;
}

#per-region {
  display: block;
  margin: 15px auto;
  padding: 3px 25px;
  border: 1px solid #352B24;
  width: 125px;
}

.per-description {
  display: none;
}

#per-description {
  word-break: break-word;
  line-height: 200%;
  text-align: start;
  font-size: 14px;
}

#per-biography {
  position: relative;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 15px;
  text-align: justify;
}

#per-biography::after {
  position: absolute;
  content: "";
  background-color: #000;
  width: 50px;
  height: 1px;
  left: 0;
  bottom: -5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 34px;
  cursor: pointer;
}



@media screen and (max-width: 798px) {
  .instructor-section {
    padding: 0px 15px 0;
  }
  .instructorSwiper {
    margin: 25px auto;
}

  .swiper-pagination-bullet {
    width: 35px !important;
    height: 5px !important;
  }

  .popup-content {
    width: 90%;
    max-height: 500px;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }

  .popup-content div {
    width: 100%;
  }

  .popup-content img {
    max-width: 175px;
    max-height: 175px;
  }

  #per-region {
    margin-top: 15px;
  }

  .close {
    position: fixed;
    top: initial;
    right: 45px;
  }

  #per-biography {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
  }

  #per-biography::after {
    left: 50%;
    width: 30px;
    transform: translateX(-50%);
  }

  .name-en {
    font-size: 16px;
  }
  .region {
   margin-bottom:50px;
}
}


/**************************************************************************

schedule-section

**************************************************************************/

#filterable-cards .card.hide {
  display: none;
}

.schedule-section {
  padding-top: 50px;
}

.schedule-list {
  width: 100%;
  max-width: 1280px;
  margin: 55px auto 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-list li {
  /*    border-right: 1px solid #352B24; */
  width: 33%;
  padding: 5px;
}

.schedule-list li:first-child {
  /*  border-left: 1px solid #352B24; */
}

.schedule-list .btn {
  font-family: "Shippori Mincho", serif;
  color: #352B24;
  background-color: #fff;
  display: block;
  font-size: 21px;
  line-height: 24px;
  padding: 15px 15px;
  color: #352B24;
  width: 100%;
  text-align: center;
  border-style: none;
  cursor: pointer;
}

.schedule-list .btn.active {
  background: #352B24;
  color: #fff;
}

.schedule-list .btn span {
  display: block;
  font-size: 16px;
}

.schedule-content {
  width: 100%;
  max-width: 1280px;
  margin: 25px auto;
  padding-bottom: 75px;
}

.section-index-title {
  text-align: center;
  font-size: 24px;
}

.section-index-month {
  font-size: 32px;
  border-bottom: 1px solid #352B24;
  padding-bottom: 3px;
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
}


.section-index-month span {
  font-size: 16px;
  padding-left: 5px;
}

.schedule_box {}

.schedule_box table {
  width: 100%;
  text-align: center;
  border-spacing: 0px;
}

.area {
  color: #fff;
  width: max-content;
  padding: 4px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.tokyo {
  background-color: #068cb4;
}

.osaka {
  background-color: #499c00;
}

.schedule_box table tr {
  padding: 15px 0;
}

.schedule_box table tr:first-child {
  /*     background-color: #fff !important; */
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
}

.schedule_box table tr {
  box-sizing: border-box;
}

.schedule_box table tr:nth-of-type(odd) {
  /* background-color: #f9f9f9; */
}

.schedule_box table tr:first-child td {
  padding: 10px 0 15px;
  font-size: 16px;
}

.schedule_box table tr td {
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(189, 184, 177, 0.3);
}

.schedule_box table tr .date {
  width: 120px;
}

.schedule_box table tr .location {
  width: 100px;
}

.schedule_box table tr .seminar {
  width: 335px;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 15px;
}

.schedule_box table tr .time {
  width: 230px;
  font-size: 14px;
  letter-spacing: 1px;
}

.schedule_box table tr .kit {
  width: 100px;
  font-size: 14px;
  letter-spacing: 1px;
}

.kit-chi .kit {
  display: none;
}

.schedule_box table tr .price-chi {
  width: 170px;
}

.schedule_box .date-chi p {
  display: inline;
}

.schedule_box .date-chi {
  font-size: 36px;
}

.schedule_box .date-chi span {
  font-size: 16px;
  padding-left: 3px;
}

.schedule_box .location-chi {
  font-size: 18px;
}

.schedule_box .time-chi {
  /*  font-size: 21px; */
}

.schedule_box .time-chi .modal-time {
  display: block;
  font-weight: 500;
  color: #f00;
  font-size: 16px;
}

.schedule_box .seminar-chi {
  line-height: 180%;
  padding: 10px 5px !important;
}

.schedule_box .price-chi {
  font-size: 21px !important;
  letter-spacing: 0;
}

.schedule_box .flex-link {
  /* display: grid; */
  justify-content: center;
  gap: 5px;
  padding: 10px 0;
  align-items: center;
  /* padding: 25px 0; */
}

.schedule_box a {
  display: inline-block;
  padding: 5px 15px;
  min-width: 105px;
  font-size: 16px;
}

.retail-link {
  /*  color: #fff; */
  /*   background-color: #352B24; */
  border: 1px solid #352B24;
  color: #352B24;
}

.offer-link {
  background: #352B24;
  border: 1px solid #352B24;
  color: #fff;
}

@media screen and (max-width: 798px) {
  .schedule-section {
    padding-top: 0px;
}
  .section-index-title {
    text-align: center;
    font-size: 24px;
  }

  .card {
    padding: 15px;
    background: #efefef;
  }

  .schedule-content {
    width: 100%;
    margin: auto;
    padding-top: 25px;
    background: #ffffff;
    padding-bottom: 15px;
  }

.schedule-list {
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    margin-bottom: 15px;
    margin-top: 25px;
}

.schedule-list li {
    width: 47%;
    border: 1px solid #352B24;
    margin-bottom: 15px;
    padding: 0px;
}
.schedule-list .btn span {
    font-size: 14px;
}
  .section-index-month {
   /*  padding-top: 15px; */
   font-size: 24px;
    width: 90%;
    margin: auto;
    border-bottom: 2px solid rgba(189, 184, 177, 0.3);
  }

  .schedule_box tbody {
    display: block;
    padding-bottom: 25px;
  /*   border-bottom: 1px solid rgba(189, 184, 177, 0.3); */
  }

  .schedule_box tbody tr {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .schedule_box table tr td {
    border-bottom: none;
  }

  .schedule_box thead {
    display: none;
  }

  .schedule_box table tr:first-child td {
    padding: initial;
    font-size: initial;
  }

  .schedule_box .date-chi {
    font-size: 36px !important;

  }

  .schedule_box .location-chi {
    font-size: 21px !important;
    line-height: 175%;
  }

  .schedule_box .seminar-chi {
    padding: 10px 10px 3px !important;
    font-size: 21px !important;
    line-height: 155%;
  }

  .time-chi {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }

  .area {
    margin: 3px auto;
    font-size: 21px;
    padding: 0px 15px;
  }

  .schedule_box table tr .kit {
    width: initial;
    display: inline-block;
  }

  .kit-chi {
    font-size: 16px !important;
    width: max-content !important;
    padding: 2px 15px !important;
    margin: 10px auto 5px;
    border-radius: 15px;
    background-color: #909090;
    color: #fff;
  }

  .schedule_box table tr .price-chi {
    width: 100%;
    padding: 0 !important;
  }

  .schedule_box table tr .price-chi p {
    margin-bottom: 10px;
    font-size: 28px;
    letter-spacing: 0px;
  }

  .schedule_box .flex-link {
    padding: 10px 0 !important;
  }

  .schedule_box a {
    width: 45%;
    padding: 10px 15px;
    max-width: 275px;
  }

.schedule-list .btn {
    font-size: 16px;
    /* padding: 10px; */
    line-height: 140%;
    height: 100px;
}
}


/**************************************************************************

contact-section

**************************************************************************/
.contact-section {
  padding-top: 15px;
 opacity: 0;
  transform: translateY(50px);
  transition: background-color 0.5s ease;
}

.contact-section-inner {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 35px auto 75px;
  padding-bottom: 25px;
}

.app-form a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:15px auto;
  text-align: center;
 background-color: #012f44;
  border-radius: 15px;
  font-size: 21px;
  color: #fff;
  height: 75px;
  margin-bottom: 55px;
  border-radius: 50px;
 transition: background-color 0.3s;
}
.app-form a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
    transform: skewX(-25deg);
}
.contact-notice {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}
.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 15px;
}

.contact-form li {
  width: 32%;
  display: flex;
}
.app-form{
  display: flex;
}
.app-form .c_icon img{
  width:100%;
  max-width: 35px;
}
.c_icon{
  width: 15%;
}
.c_des{
  width: 50%;
}
.contact-form li img{
  width: 100%;
  max-width: 35px;
}
.contact-form li a {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  color: #000;
  height: 75px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #352B24;
  line-height: 150%;
}

.contact-form li a p {
  font-size: 21px;
}

.contact-form li a span {
    letter-spacing: 1px;
    font-size: 14px;
}

.contact-form li a.c_line {
    background-color: #05a849;
    color: #fff;
    border: 1px solid #fff;
}

.app-form .c_icon,
.app-form .c_des{
  width: initial
}
.app-form .c_icon{
  margin-left: 15px;
}
.app-form .c_icon img{
  width: 25px;
}
@media screen and (max-width: 798px) {
.contact-form {
   flex-direction: column;
}
.contact-section-inner {
  margin: 35px auto 0;
}
.app-form a {
  margin-top: 0;
    margin-bottom: 25px;
     height: 80px;
}
.contact-form {
    padding: 15px 0 0;
}

.contact-form li {
    width:100%;
    margin-bottom: 15px;
}
.contact-form li a {
    height: 80px;
}
.app-form p{
  font-size: 21px;
}
.c_des {
    line-height: 150%;
}
.contact-form li a p {
    /* font-size: 18px; */
}
}

/**************************************************************************

course-flow

**************************************************************************/
.course-flow {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #c4c4c4;
  /*   background-color: #fff; */
}

.course-flow-inner {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 55px auto 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-flow-list {
  width: 30%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  border: 1px solid #949494;
  color: #352B24;
  padding: 25px 10px 35px;
}

.course-flow-list-img {
  width: 100px;
  margin-bottom: 5px;
}

.course-flow-list-img img {
  width: 100%;
  padding: 15px;
}

.course-flow-list-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  background: #352B24;
  color: #fff;
  border: 1px solid #352B24;
  letter-spacing: -0.05rem;
  padding: 5px 20px;
  border-radius: 15px;
}

.course-flow-list-title span {
  display: block;
  margin-bottom: 5px;
}

.course-flow-list .num {
  font-size: 18px;
}

.course-flow-list-text {
  font-size: 16px;
  margin: 5px 0 0;
  padding: 0 5px;
  line-height: 165%;
  text-align: center;
}

.triangle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  left: 25px;
  border-left: 7px solid #949494;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}


@media screen and (max-width: 798px) {
  .course-flow-inner {
    flex-direction: column;
    gap: 15px;
  }

  .course-flow-list {
    width: 100%;
  }

  .triangle {
    left: 0;
    transform: rotate(90deg);
    width: 0;
    border-left: 10px solid #352B24;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

/**************************************************************************

access-section 

**************************************************************************/
.access-section {
  background-color: #f5f5f5;
  padding: 150px 25px 75px;
}

.access-section-inner {
  width: 100%;
  max-width: 1000px;
  padding: 35px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1%;
}

.access-address {
  width: 48%;
  font-size: 14px;
  line-height: 1.7;
}

.access-section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.access-map {
  width: 48%;
}

.access_googlemap {
  width: 100%;
  filter: grayscale(1);
  height: 350px;
}

.access-address a {
  display: block;
  width: 270px;
  text-align: center;
  padding: 20px 10px;
  box-sizing: border-box;
  color: #232323;
  border: 1px solid #bbb6af;
  letter-spacing: 3px;
  background-color: #f1f1f1;
}



@media screen and (max-width: 798px) {
  .access-section {
    padding: 15px 15px;
  }

  .access-section-inner {
    padding-top: 0;
    flex-direction: column;
  }

  .access-address {
    width: 100%;
    font-size: 14px;
    line-height: 1.7;
  }

  .button.primary {
    display: none;
  }

  .access-map {
    width: 100%;
  }

  .access_googlemap {
    height: 250px;
  }
}

/**************************************************************************

faq-section

**************************************************************************/
.all-faq {
  padding-top: 50px;
}

.faq-section {
  padding-top: 50px;
}

.faq-section-inner {
  max-width: 1000px;
  margin: auto;
  padding-top: 35px;
}

.faq-section .faq-section-title {
  padding: 15px;
  padding-left: 30px;
  margin-bottom: 15px;
  background: #352B24;
  color: #fff;
}

.faq-section-index {
  border: 1px solid #352B24;
  padding: 30px 30px 30px;
  margin-bottom: 20px;
  padding-right: 55px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  line-height: 175%;
  transition: background 0.3s ease;
}

.faq-section-index .answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
  padding-left: 5px;
  margin-left: 5px;
}

.faq-section-index::after {
  content: '+';
  position: absolute;
  right: 25px;
  top: 30px;
  font-size: 24px;
  color: #4b4b4b;
  transition: transform 0.3s ease, content 0.3s ease;
  transform-origin: center;
  display: inline-block;
  transform: rotate(0deg) scale(1);
}

.faq-section-index.open::after {
  content: '−';
  transform: rotate(180deg) scale(1.2);
}

.faq-section-index.open .answer {
  margin-top: 10px;
  margin-left: 5px;
}

@media screen and (max-width: 798px) {
  .all-faq {
    padding-top: 0px;
  }

  .faq-section-inner {
    padding: 0 15px;
  }
}

/**************************************************************************

magagine-section

**************************************************************************/
.magagine-section {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  /* padding-top: 50px; */
}

.magagine-img {
  padding: 10px 15px 0;
}

.magagine-img a {
  transition: 0.2s;
}

.magagine-img a:hover {
  opacity: 0.8;
}

.magagine-img img {
  border-radius: 5px;
  width: 100%;
}

.magagine-img p {
  text-align: center;
  color: #8b8b8b;
}

@media screen and (max-width: 798px) {
  .magagine-section {
    margin: 0px auto;
    padding-top: 0px;
  }

  .magagine-img img {
    border-radius: 0px;
  }
}

/**************************************************************************

others-section その他

**************************************************************************/
.others-section {
  padding: 0px 15px 75px;
}

.others-section ul {
  width: 100%;
  max-width: 1000px;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  gap: 1%;
  align-items: center;
}

.others-section ul li {
  width: 32%;
  border: 1px solid #868686;
}

.others-section ul li a {
  display: block;
  padding: 20px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.others-section ul li img {
  width: 100%;
}

@media screen and (max-width: 798px) {
  .others-section {
    padding: 0px 15px;
  }

  .others-section ul {
    flex-direction: column;
    margin: 35px auto;
  }

  .others-section ul li {
    width: 100%;
    margin-bottom: 15px;
  }
}


/**************************************************************************

form-content

**************************************************************************/
.form-content {
  padding-top: 50px;
  background-color: #fff !important;
}

.container-fluid {
  background-color: #fff !important;
}

.form-content iframe {
  width: 100%;
  height: 750px;
  background-color: #fff;
  margin-bottom: 75px;
}

@media screen and (max-width: 798px) {
  .form-content {
    padding-top: 100px;
  }
}

/**************************************************************************

footer

**************************************************************************/
.footer {
  background: #000;
  padding: 5% 15px 2%;
  font-family: serif;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}

.company {
  width: 25%;
  color: #fff;
  line-height: 1.7;
  color: #fff !important;
}

.company img {
  width: 100%;
  max-width: 175px;
}

.footer-logo {
  width: 100%;
  max-width: 175px;
}

.footer-nav {
  padding-top: 15px;
  width: 70%;
}

.footer-nav-inner {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.footer-nav-inner {
  display: flex;
  flex-direction: column;
}

.footer-nav ul {
  width: 100%;
  display: flex;
  gap: 20px;
}

.footer-nav ul li a {
  display: block;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 5px;
  letter-spacing: 0.07rem;
}

.footer-nav ul li a span {
  font-size: 12px;
  display: block;
  color: #b0b0b0;
  letter-spacing: 0;
}

.footer-sns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 5px;
}

.footer-sns img {
  width: 100%;
  max-width: 25px;
  filter: invert(1);
}

.copyright {
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 798px) {
  .footer {
    padding: 10% 15px 5%;
  }

  .footer-inner {
    flex-direction: column;
  }

  .company {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer-nav {
    width: 100%;
    display: block;
  }

  .footer-nav ul {
    flex-direction: column;
    gap: 10px;
  }


  .footer-nav ul li a {
    padding-left: 3px;
  }

  .footer-nav ul li a span {
    font-size: 14px;
  }

  .company img {
    max-width: 275px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
.footer-logo {
  width: 100%;
  max-width: initial;
}
.footer-sns {
    margin: 15px 5px 0 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
}
  .footer-sns img {
    width: 100%;
    max-width: 35px;
  }

}