<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
{% include head.html %}
</head>
<body>
{% include header.html %}
<main>
{{ content }}
</main>
{% include footer.html %}

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
var swiper = new Swiper(".topSwiper", {
slidesPerView: 1,
spaceBetween: 0,
loop: true,
speed: 1000,
effect: "fade",
autoplay: {
delay: 5000,
},
pagination: {
el: ".swiper-pagination",
clickable: true,
},
navigation: {
nextEl: ".swiper-button-next",
prevEl: ".swiper-button-prev",
},
});


const swiper = new Swiper(".instructorSwiper", {
  loop: true, // スライドをループさせる
  speed: 1500, // スライドの切り替え速度（ミリ秒）
  autoplay: {
    delay: 1500, // 自動再生の間隔（ミリ秒）
    disableOnInteraction: false, // ユーザー操作後も自動再生を継続
  },
  spaceBetween: 15,
  slidesPerView: 2,
  pagination: {
    el: ".swiper-pagination",
    clickable: true, // ページネーションのクリック有効
  },
  breakpoints: {
    798: {
      slidesPerView: 4,
      spaceBetween: 15,
    },
  },
  // centeredSlides: true, // 必要な場合はコメントアウト解除
});

</script>

